
/* Stylesheet content from css/12306insurance.css in folder common */
.header {
	text-align: center;
	line-height: 40px; repeat-x;
	height: 30px;
	font-size: 20px
}

.msg_left {
	text-align: center;
	width: 70%;
	line-height: 35px;
	background: #f15a25;
	display: block;
	float: left;
	height: 35px;
	color: #fff;
	font-size: 16px;
	text-shadow:none;
}

.msg_right {
	text-align: left;
	width: 30%;
	line-height: 35px;
	display: block;
	background: #f15a25;
	float: left;
	height: 35px;
	color: #fff;
	font-size: 16px;
	text-shadow:none;
}

.insured_0 {
	line-height: 35px;
	display: block;
	float: left;
	height: 35px;
	color: #fff;
	font-size: 16px;
	text-align: center;
	width: 30%
}

.insured_1 {
	line-height: 35px;
	display: block;
	float: left;
	height: 35px;
	color: #fff;
	background: #f15a25;
	font-size: 16px;
	text-align: center;
	width: 100%;
	text-shadow: none;
}

td {
	border-bottom: #ccc 1px solid;
	padding-bottom: 5px;
	padding-left: 0px;
	padding-right: 0px;
	vertical-align: middle;
	padding-top: 5px
}

td.last {
	border-bottom: medium none;
	padding-bottom: 5px
}

.footer {
	text-align: center;
	padding-bottom: 10px;
	margin: 0px auto;
	padding-left: 0px;
	padding-right: 0px;
	background: #f27849!important;
	padding-top: 10px
}

.footer.ui-bar-a{
	border:none;
}

.footer p {
	line-height: 18px;
	color: #fff;
	text-shadow: none;
}

.isPolicy {
	position: relative;
	right: 10px;
	float:right;
	margin:.5em 0;
}

.phoneItemInfo{
	padding-top:5px;
	text-align: left;
	margin-left:5%;
}
.phoneItemInfo label{
	font-size:14px;
	display: inline-block;
}
/*提交保单*/
.div_bigBtn3 {
	margin: 5px 6px;
}

.div_bigBtn3 a {
	height: 40px;
	line-height: 40px;
	background-color: #f15a25!important;
	background-size: 100% 100%;
	background-repeat: repeat-x;
	border-radius: 0px;
	box-shadow: 0 0 2px #ee5d41 inset;
	border: 0;
	color: #fff!important;
	text-shadow: none!important;
	padding: 0px;
	font-size: 18px;
}

.div_bigBtn3 a .ui-btn-inner {
	font-size: 18px;
	border: none;
	background: none;
	color: #fff;
	text-shadow: 0 -1px 0 #5a96b0;
	padding: 0;
	border: 0;
}

.div_bigBtn3 a:active,.div_bigBtn3 a.ui-btn-down-c {
	background-color: #dd5d41;
	box-shadow: 0 0 2px #ee5d41 inset;
	border: 0;
}
/*协议复选框*/
.agreeItemInfo{
	margin-left:4%;
	margin-top:5px;
	margin-bottom: 5px;
}

.agreeItemInfo label{
	font-size: 14px;
	display: inline-block;
}
.agreeItemInfo .chk_outSpan{
	width:20px;
}

.showHidden{
	z-index:10;
	text-decoration: none;
}
/*继续购票样式*/
.rebackMob span .ui-icon-shadow{
	box-shadow:none;
	-webkit-box-shadow:none;
}
.rebackMob span .ui-icon{
	background:none;
}

.content{
	font-size:12px; 
	border:0px solid #ff0000;
}
/*投保人信息*/
.ticketInfo{
	text-indent:5px;
}

.itemInfo{
	width:100%;
	text-align:left;
}

.itemInfo label{
	padding: 0;
	color: #000!important;
	font-size: 10pt!important;
	width: 40px!important;
	margin: 0!important;
	float: inherit;
	padding-bottom:3px;
	text-align: left!important;
	text-indent: 5px;
}

.itemInfo div{
	display: inline-block;
	height:32px;
	line-height: 32px;
	margin: 0;
	padding: 0;
	top: 0;
	left: 20%;
	text-indent: 5px;
}
.itemInfo div.birth{
	height: 32px;
	line-height: 32px;
	width:78%!important;
	text-indent: -4px;
}

.itemInfo div.birth div{
	height: 30px;
	line-height: 30px;
	margin-bottom: 3px;
}

.insurance_ticketinfo{
	
}

.insurance_ticketinfo legen{
	text-align: left;
	font-size:14px;
	font-weight: bold;
	line-height: 35px;
}

.departbothline{
	border-top:solid 1px #c7c7c9!important;
	border-bottom:solid 1px #c7c7c9!important;
	width: 100%;
	background-color: #fff;
}

.birthDay{
	border-style: none none solid none;
	border-color: #ccc;
	border-width: 1px;
	font-size:10pt;
	padding:0!important;
}


.insurance_item{
	-webkit-box-pack: justify;
	width: 100%;
	height: 30px;
	line-height:30px;
	display: -webkit-box;
	font-size:14px;
	-webkit-box-sizing: border-box;
	text-align:center;
}
.insurance_item div:nth-child(1) {
	display: -webkit-box;
	width: 65%;
	text-indent:10px;
	border-bottom:solid 1px #c7c7c9!important;
}
.insurance_item div:nth-child(2){
	display: -webkit-box;
	width: 35%;
	text-indent:20px;
	border-bottom:solid 1px #c7c7c9!important;
}
.insurance_memo{
	line-height: 25px;
	font-size: 12px;
	text-indent: 10px;
}

.palogol{
	background-image:url(../images/pa_logo.png);
	height:38px;
	height: 38px;
	background-position: center;
	background-repeat: no-repeat;
}