
/* Stylesheet content from css/jqm-datebox.css in folder common */
/*
 * jQuery Mobile Framework : plugin to provide a date and time picker.
 * Copyright (c) JTSage
 * CC 3.0 Attribution.  May be relicensed without permission/notification.
 * https://github.com/jtsage/jquery-mobile-datebox
 */
 
/* Base input element Styles */
a{text-decoration:none}
.ui-input-datebox { width: 97%; background-image: none; padding: .4em; line-height: 1.4; font-size: 16px; display: block; padding-top: 0px; padding-bottom: 0px; background-color: transparent; } 
.ui-input-datebox { min-height: 38px; } /* Fix for IE8 */
.ui-datebox-container > .ui-header:first-child { -webkit-border-top-left-radius: 3px; border-top-left-radius: 3px;	-webkit-border-top-right-radius: 3px; border-top-right-radius: 3px; }
/*.ui-input-datebox .ui-btn-icon-notext { margin-top: 5px !important; margin-bottom: 5px !important; }*/
.ui-input-datebox input { width: 100% !important; padding: 0 !important; margin-top: 5px !important; margin-right: -40px !important; border: 1px solid transparent !important; vertical-align: middle; display: inline-block !important; background-color: transparent; zoom: 1; *display: inline; }
.ui-input-datebox input:focus { outline: none;}
.ui-input-datebox .ui-btn-text {display: none;}
.ui-input-datebox.ui-mini { min-height: 20px; font-size: 14px; }
/*.ui-input-datebox.ui-mini .ui-btn-icon-notext { margin-top: 2px !important; margin-bottom: 2px !important; }*/
.ui-icon-datebox { background-image: url('image/datebox.png') !important; background-repeat: no-repeat !important; background-position: 99% 8px !important; }
.ui-icon-datebox-alt { background-image: url('image/datebox.png') !important; background-repeat: no-repeat !important; background-position: 99% -28px !important; }
.ui-mini.ui-icon-datebox { background-position: 99% 6px; }
.ui-mini.ui-icon-datebox-alt { background-position: 99% -30px; }
.ui-input-text > .ui-input-datebox > .ui-btn.ui-input-clear {position: absolute; right: 0; top: 50%; margin: -15px .3125em 0; border: 0; background-color: transparent;}

@media all and (min-width: 450px){
  .ui-field-contain .ui-input-datebox { width: 74.7%; display: inline-block; } 
  .ui-hide-label .ui-input-datebox { width: 100%; }
}

/* Full width if in a grid, ignore the media query */
.ui-grid-a .ui-input-datebox { width: 97%; }
.ui-grid-b .ui-input-datebox { width: 97%; }
.ui-grid-c .ui-input-datebox { width: 97%; }
.ui-grid-d .ui-input-datebox { width: 97%; }
.ui-grid-e .ui-input-datebox { width: 97%; }

/* Define a grid, just in case. */
/* grid d: 16.65/16.65/16.65/16.65/16.65/16.65 */
.ui-grid-e .ui-block-a, .ui-grid-e .ui-block-b, .ui-grid-e .ui-block-c, .ui-grid-e .ui-block-d, .ui-grid-e .ui-block-e, .ui-grid-e .ui-block-f { width: 16.65%; }
.ui-grid-e > :nth-child(n) { width: 16.65%; }
.ui-grid-e .ui-block-a { clear: left; }

.ui-grid-e { overflow: hidden; }
.ui-block-f { margin: 0; padding: 0; border: 0; float: left; min-height: 1px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }

/* Calendar Mode Styles */

.ui-datebox-gridheader { text-align: center; }
.ui-datebox-gridheader h4 { text-align: center; display: inline-block; margin-top: 10px; margin-bottom: 10px; zoom:1; *display: inline;}
.ui-datebox-gridplus { float: right; }
.ui-datebox-gridminus { float: left; }
.ui-datebox-gridplus-rtl { float: left; }
.ui-datebox-gridminus-rtl { float: right; }
.ui-datebox-gridrow { margin-left: 5px; margin-right: 5px; margin-bottom: -7px;}
.ui-datebox-grid { clear: both; margin-bottom: 5px; }
.ui-datebox-griddate { width: 13.5%; height: 30px; padding: 0px; display: inline-block; vertical-align: middle; text-align: center; line-height: 30px; font-weight: bold; font-size: 12px; zoom:1; *display: inline;}
.ui-datebox-griddate-week { width: 31px; height: 30px; display: inline-block; vertical-align: middle; text-align: center; line-height: 30px; font-weight: bold; font-size: 12px; zoom:1; *display: inline;}
.ui-datebox-griddate-empty { border: 1px solid transparent; color: #333; pointer-events: none!important;}
.ui-datebox-griddate-label { height: 15px !important; line-height: 15px !important; color: white;font-size:16px;}
.ui-datebox-griddate-disable{ color: #888888 !important; cursor: default !important; background: none repeat scroll 0 0 #F6F6F6 !important; }
.ui-datebox-disablestyle{color: #ccc !important;cursor: default !important;pointer-events: none!important;}
.weekcolor{background-color:#5BABE0;margin-bottom:5px;height:25px;font-size:16px;text-shadow:none;}
/* Android Mode Styles */

.ui-datebox-header h4 { margin-top: 5px; margin-bottom: 5px; text-align: center; }
.ui-datebox-container fieldset div { margin: 0px !important; }
.ui-datebox-dboxin input { padding: .4em 0 !important; text-align: center; width:95%; }
.ui-datebox-dboxin label { width: 100%; text-align: center; display: block; margin-top: 5px; margin-bottom: -8px; }
.ui-datebox-controls { text-align: center; }
.ui-datebox-controls div { width: 77px; text-align: center; display: inline-block; zoom: 1; *display: inline;}
.ui-datebox-scontrols { text-align: center; }
.ui-datebox-scontrols div { width: 55px; text-align: center; display: inline-block; zoom: 1; *display: inline;}
.ui-datebox-scontrols .ui-datebox-sinput { width: 68px; }
.ui-datebox-scontrols .ui-datebox-sinput input { width: 48px; text-align: center; margin-left: 3px; }
.ui-datebox-input { width: 74px !important; margin-left: 1px; margin-right: 1px; text-align: center !important; display: inline-block !important; zoom:1; *display: inline; }

/* Slide Mode Styles */

.ui-datebox-slide { width: 280px; margin-left: auto; margin-right: auto;}
.ui-datebox-sliderow-d { margin-bottom: 5px; text-align: center; height: 40px; width: 280px; overflow: hidden;}
.ui-datebox-sliderow-ym { margin-bottom: 5px; text-align: center; height: 32px; width: 280px; overflow: hidden;}
.ui-datebox-sliderow-hi { text-align: center; height: 32px; width: 280px; overflow: hidden;}
.ui-datebox-sliderow-int { display: inline-block; white-space: nowrap;}
.ui-datebox-slide .ui-btn { margin: 0px; padding: 0px 1em; }

.ui-datebox-slideyear { text-align: center; display: inline-block; zoom:1; *display:inline; width: 84px; vertical-align: middle; line-height: 30px; height: 30px; font-size: 14px; font-weight: bold; }
.ui-datebox-slidemonth { text-align: center; display: inline-block; zoom:1; *display:inline; width: 51px; vertical-align: middle; line-height: 30px; height: 30px; font-size: 12px; font-weight: bold; }
.ui-datebox-slideday { text-align: center; display: inline-block; zoom:1; *display:inline; width: 32px; vertical-align: middle; line-height: 20px; height: 38px; font-size: 14px; font-weight: bold; }
.ui-datebox-slidehour { text-align: center; display: inline-block; zoom:1; *display:inline; width: 32px; vertical-align: middle; line-height: 22px; height: 24px; font-size: 14px; font-weight: bold; }
.ui-datebox-slidemins { text-align: center; display: inline-block; zoom:1; *display:inline; width: 32px; vertical-align: middle; line-height: 22px; height: 24px; font-size: 14px; font-weight: bold; }
.ui-datebox-slidearrow { text-align: center; display: inline-block; zoom:1; *display:inline; width: 10px; vertical-align: middle; line-height: 38px; height: 38px; font-size: 10px; font-weight: bold; }
.ui-datebox-slidewday { font-size: 10px; font-weight: normal; }

/* Flip Mode Styles */
.ui-datebox-flipcontent { text-align: center; height: 125px; margin-bottom: -40px;}
.ui-datebox-flipcontent div { margin-left: 3px; margin-right: 3px; width: 77px; height: 120px; display: inline-block; text-align: center; zoom: 1; *display: inline; overflow: hidden;}
.ui-datebox-flipcontentd div { width: 60px; }
.ui-datebox-flipcenter { border: 1px solid #eee; height: 40px; margin-left: 10px; width: 260px; margin-right: auto; margin-left: auto; position: relative; top: -45px;}
.ui-datebox-flipcontent ul { list-style-type: none; display: inline; border:1px solid rgba(0,0,0,0);}
.ui-datebox-flipcontent li { height: 30px; }
.ui-datebox-flipcontent li span { margin-top: 7px; display: block; }

/* Shared Styles */

.ui-datebox-container { border: 1px solid #333 !important; width: 280px; -webkit-transform:translate3d(0,0,0); }
.ui-datebox-screen { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; }
.ui-datebox-screen-modal { background-color: black; -moz-opacity: 0.8; opacity:.80; filter: alpha(opacity=80); }
.ui-datebox-hidden { display: none; }
.ui-dialog .ui-datebox-container { border: none !important; }
.ui-popup-container .ui-datebox-container { border: none !important; }
.ui-popup-container .ui-datebox-gridrow { margin-left: 0px; margin-right: 0px; }
.ui-datebox-collapse a { display: inline-block; width: 25% }

.ui-datebox-inline, .ui-datebox-inlineblind { margin-top: 0px; border: 0px solid #111111 !important; margin-left: auto !important; margin-right: auto !important; text-align: center;}
.ui-datebox-inlineblind { width: auto !important; float: none !important; clear: left !important; }
.disable-color{color:#888888 !important ;}
