  <div id="12306insuranceView" data-role="page">
  <div data-role="header" data-position="fixed" data-tap-toggle="false">
    <h1>乘客意外险</h1>
    <a id="rebackMob" href="../MobileTicket.html" data-icon="custom" data-role="button" class="rebackMob ui-btn-right">
    完成
    </a>
  </div>
  <div data-role="content" class="bottom-space" data-iscroll='{"useTransform":false}'>
  	 <div>
  	 	 <span class="msg_left">保险责任项目&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
	     <span class="msg_right">保险金额</span>
  	 </div>
  	 <div class="insurance_item">
  	     	<div>交通意外伤害保障(火车)</div>
  	     	<div>￥60万</div>
  	 </div>
     <div class="insurance_item">
  	     	<div>交通意外伤害医疗保障(火车)</div>
  	     	<div>￥0.3万</div>
  	 </div>
  	 <div class="insurance_memo">备注：上述责任适用《平安交通意外伤害保险（2013版）（A款）》（平保养发[2013]204号）条款。</div>
  	 <div><span class="insured_1">被保人信息<label class="b_f_13">&nbsp;(选中投保)</label></span></div>
	 <fieldset class="departlongline insurance_ticketinfo" id="ticketInfo">
	 
	  </fieldset>
	  <div id="phoneItemInfo" class="phoneItemInfo">
		  <div><label>*联系人电话：</label>
		  <label class="phoneNo"></label></div>
		  <label class="b_f_12">所有投保信息将以短信形式发送至联系人.</label>
	  </div>
	  <div id="agreeItemInfo" class="agreeItemInfo">
	      <span class="chk_outSpan">
			<input id="agree" name="agree" type="checkbox" data-role="none" checked="checked"/>
			<span></span>
		  </span> 
		  <label for="agree">我已阅读并同意</label>
		  <a class="showHidden" id="insuranceAgreement" href="#">【保险条款摘要】</a>      
	   </div>
	   <div class="div_bigBtn3">
			<a id="submitInsurancebtn" data-role="button">确认投保</a>
	   </div>
	</div>
	 <div data-role="footer" class="footer" data-position="fixed" data-tap-toggle="false" data-id="navBar">
	   	
		<div class="palogol"></div>

		<p>版权所有&nbsp;&copy;&nbsp;中国平安保险(集团)股份有限公司</p>
  	</div>
</div>
		