<div id="aboutView" data-role="page" data-dom-cache="true" style="background:#298CCF;">
	<div data-role="header" data-position="fixed"  data-tap-toggle="false" class="about">
    <a data-shadow="false" id="aboutBackBtn" data-role="button"></a>
    <h1></h1>
    <div class="logo-margin-ud" style="background: url(../images/about-logo1.png) center center no-repeat;background-size: 60%;height: 215px;margin: 0 auto;"></div>
    	<img style="width:85%;max-width:290px;" src="../images/about-logo-zi.png">
        <p class="about-p-ud">系统版本：2.11.6<br>客服电话：12306<br>微&nbsp;&nbsp;信&nbsp;&nbsp;号：CRTT12306</p><br>
        <fieldset class="moreOptionFieldSetContain">
			
			<div style="background-color:#fff;text-align:left;">
			<a class="a_btn departshortline arrow-right" id="systemInfo">系统通知
				<span class="pushmessage_noread" style="display:none;">
					<span>&nbsp;&nbsp;New&nbsp;&nbsp;</span>
				</span>
			</a>
			<a id="updateAppVersion" class="a_btn departshortnoline arrow-right">版本更新
				<span class="newVersion_about" style="display:none;">
					<span>&nbsp;&nbsp;New&nbsp;&nbsp;</span>
				</span>
			</a>
			</div>
		</fieldset>
		<div>
			<p class="copyright copyright-margin-ud">技术支持：中国铁道科学研究院 中铁程科技有限责任公司<br>
								  版权所有：中国铁路客户服务中心 Copyright(C)2010-2015
			</p>
		</div>
    </div>
    <div data-role="content" data-iscroll>
    </div>
</div>