<div id="AdvanceQueryOrderView" data-role="page">
  <div data-role="header" data-position="fixed" data-tap-toggle="false">
  	<a id="advanceQueryOrderViewBackBtn" data-role="button" data-shadow="false"></a>
    <h1 id="advanceTips">高级查询</h1>
  </div>

  <div data-role="content" data-iscroll='{"useTransform":false}'>
    <div class="singleDoubleBtnGroup" data-role="controlgroup" data-type="horizontal" id="advanceQueryTips">
      <a id="searchBookDate" href="#" data-role="button" class="btnText ui-corner-left ui-btn-active ui-state-persist ">按订票日期查询</a>
      <a id="searchTrainDate" href="#" data-role="button" class="btnText ui-corner-right">按乘车日期查询</a>
    </div>

    <fieldset class="departlongline">
      <div data-role="fieldcontain" class="departlongline">
        <label>起始日期</label>
        <div class="pencil-input">
        <input id="fromDateInputShow" name="返回日期" data-iconshadow="false" readonly="readonly" class="right-arrow-input"/>      
        <input id="fromDateInput" name="起始日期" type="hidden"/>
        </div>
      </div>

      <div data-role="fieldcontain" class="departlongline">
        <label>结束日期</label>
        <div class="pencil-input">
        <input id="toDateInputShow" name="返回日期" data-iconshadow="false" readonly="readonly"  class="right-arrow-input"/>  
        <input id="toDateInput" name="结束日期" type="hidden"/>
        </div>
      </div>

      <div data-role="fieldcontain" class="departlongline">
        <label for="trainCode">车&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;次</label>
        <div class="pencil-input">
        	<input id="trainCode" type="text" placeholder="如：K2307" onkeyup="this.value=this.value.toUpperCase()" maxlength="5"/>
        </div>
      </div>

      <div data-role="fieldcontain" class="departlongline">
        <label for="passengerName">乘客姓名</label>
        <div class="pencil-input">
       		<input id="passengerName" type="text" placeholder="乘客姓名"/>
       	</div>
      </div>
      
      <div data-role="fieldcontain">
        <label for="sequenceNo">订&nbsp;单&nbsp;&nbsp;号</label>
        <div class="pencil-input">
        	<input id="sequenceNo" type="text" onkeyup="this.value=this.value.toUpperCase()" maxlength="10" placeholder="订单号"/>
        </div>
      </div>
	</fieldset>
	
	<div class="div_bigBtn mT10_B20"><a id="advancedQueryOrderBtn" data-role="button" data-prefetch>查&nbsp;询 </a>	</div>
	<br><br><br><br><br><br><br>
  </div>
  
  <div data-role="footer" class="footer_bar" data-position="fixed" data-tap-toggle="false" data-id="navBar">
   	<div data-role="navbar" class="f_nav">
      <ul>
        <li><a id="bookTicketTab" data-iconshadow="false">车票预订</a></li>
        <li><a id="queryOrderTab" class="ui-btn-active ui-state-persist" data-iconshadow="false">订单查询</a></li>
        <li><a id="moreOptionsTab" data-iconshadow="false">我的12306</a><div class="circle" style="display:none;"></div></li>
      </ul>
    </div>
  </div>
</div>