
 <div id="AgencySellTicketListView" data-role="page" data-dom-cache="true">
 
  <div data-role="header" data-position="fixed" data-tap-toggle="false">
   <a id="agencySellTicketListBackBtn" data-shadow="false" data-role="button"></a>
    <h1>代售点查询结果</h1>
  </div>

  <div id="agencySellTicketPrompt" class="queryOrderResultHeight ui-grid-b top-prompt normal-prompt" style="display:none;" data-iscroll-fixed>
	    <div class="ui-block-a queryOrderTips"></div>
  </div>
	
	<div data-role="content" id="agencySellTicketList_content" data-iscroll>
		<div id="agency-iscroll-pulldown" class="iscroll-pulldown" style="display:none;">
	    	<span class="iscroll-pull-icon"></span>
	           <span class="iscroll-pull-label" data-iscroll-loading-text="加载中..." data-iscroll-pulled-text="释放刷新...">下划刷新...</span>
	    </div>     
		
		<ul id="agencySellTicketList" data-role="listview" class="agencySellTicketBlock"></ul>
	   	
	   	<div id="agency-iscroll-pullup" class="iscroll-pulid="agency-iscroll-pullup" lup" style="display:none;">
	    	<span class="iscroll-pull-icon"></span>
	        <span class="iscroll-pull-label" data-iscroll-loading-text="加载中..." data-iscroll-pulled-text="释放刷新...">上划加载更多...</span>
	    </div>   
	</div>
	
	<div data-role="footer" class="footer_bar" data-position="fixed" data-tap-toggle="false" data-id="navBar">
	   	<div data-role="navbar" class="f_nav">
	      <ul>
	        <li><a id="bookTicketTab" data-iconshadow="false">车票预订</a></li>
	        <li><a id="queryOrderTab" data-iconshadow="false">订单查询</a></li>
	        <li><a id="moreOptionsTab" data-iconshadow="false" class="ui-btn-active ui-state-persist">我的12306</a><div class="circle" style="display:none;"></div></li>
	      </ul>
	    </div>
 	</div>
</div>