<div id="AgencySellTicketDetailView" data-role="page">
	<div data-role="header" data-position="fixed" data-tap-toggle="false">
		<a id="AgencySellTicketDetailBackBtn" data-role="button" data-shadow="false"></a>
		<h1>代售点详情</h1>
	</div>
	
	<div data-role="content" data-iscroll>
		<fieldset class="moreOptionFieldSetContain">
			<div class="departlongline"></div>
			<div id="agencysell_name" class="departlongline agencySellTicketDetailTitle">&nbsp;</div>
			<div id="agencysell_address" class="agencySellTicketDetail">&nbsp;</div>
			<div id="agencysell_tel" class="agencySellTicketDetail">&nbsp;</div>
			<div id="agencysell_period" class="agencySellTicketDetail">&nbsp;</div>
			<div id="agencysell_window" class="departlongline agencySellTicketDetail">&nbsp;</div>
		</fieldset>
	</div>
       	
	<div data-role="footer" class="footer_bar" data-position="fixed" data-tap-toggle="false" data-id="navBar">
	   	<div data-role="navbar" class="f_nav">
	      <ul>
	        <li><a id="bookTicketTab" data-iconshadow="false">车票预订</a></li>
	        <li><a id="queryOrderTab" data-iconshadow="false">订单查询</a></li>
	        <li><a id="moreOptionsTab" class="ui-btn-active ui-state-persist" data-iconshadow="false">我的12306</a><div class="circle" style="display:none;"></div></li>
	      </ul>
	    </div>
 	</div>
</div>
