
 <div id="agencySellTicketQueryView" data-role="page" data-dom-cache="true">
 
  <div data-role="header" data-position="fixed" data-tap-toggle="false">
   <a id="agencySellTicketQueryBackBtn" data-shadow="false" data-role="button"></a>  
    <h1>代售点查询</h1>
     <a id="mapsearchBtn" class="ui-link ui-btn-righe ui-btn ui-corner-all" data-role="button">地图</a>	
  </div>

  <div data-role="content" data-iscroll='{"useTransform":false}'>
    <fieldset id="goInfo" class="moreOptionFieldSetContain">
      <div class="departlongline"></div>
      <div data-role="fieldcontain" class="departlongline">
        <label class="selectLabel">所在省份</label>
       	<select name="province" id="province" data-icon="none" data-iconshadow="false" style="border: 0px;">
			<option selected="selected" value="province">请选择省</option>
			<option value="安徽">安徽</option>
			<option value="北京">北京</option>
			<option value="福建">福建</option>
			<option value="广东">广东</option>
			<option value="甘肃">甘肃</option>
			<option value="广西">广西</option>
			<option value="贵州">贵州</option>
			<option value="河北">河北</option>
			<option value="湖北">湖北</option>
			<option value="黑龙江">黑龙江</option>
			<option value="河南">河南</option>
			<option value="湖南">湖南</option>
			<option value="海南">海南</option>
			<option value="吉林">吉林</option>
			<option value="江苏">江苏</option>
			<option value="江西">江西</option>
			<option value="辽宁">辽宁</option>
			<option value="内蒙古">内蒙古</option>
			<option value="宁夏">宁夏</option>
			<option value="青海">青海</option>
			<option value="四川">四川</option>
			<option value="山东">山东</option>
			<option value="上海">上海</option>
			<option value="山西">山西</option>
			<option value="陕西">陕西</option>
			<option value="天津">天津</option>
			<option value="西藏">西藏</option>
			<option value="新疆">新疆</option>
			<option value="云南">云南</option>
			<option value="浙江">浙江</option>
			<option value="重庆">重庆</option>
		</select>
      </div>
      <div class="departlongline" data-role="fieldcontain">
        <label class="selectLabel">所在城市</label>
       	<select id="city" data-icon="none" data-iconshadow="false" style="border: 0px;">
			<option selected="selected" value="city">请选择市</option>
		</select>
      </div>
      <div class="departlongline" data-role="fieldcontain">
        <label class="selectLabel">所在区县</label>
       	<select id="county" data-icon="none" data-iconshadow="false" style="border: 0px;">
			<option selected="selected" value="county">请选择区/县</option>
		</select>
      </div>
      <div class="departlongline" data-role="fieldcontain">
        <label>快速查询</label>
         <div class="pencil-input">
       		<input id="agencyName" type="text" placeholder="输入代售点名称"></input>
       	 </div>
      </div>
    </fieldset>
   	<div class="div_bigBtn">
		<a id="QueryDetailsSellBtn" data-role="button">查&nbsp;询 </a>
  	</div>
</div>
<div data-role="footer" class="footer_bar" data-position="fixed" data-tap-toggle="false" data-id="navBar">
   	<div data-role="navbar" class="f_nav">
      <ul>
        <li><a id="bookTicketTab" data-iconshadow="false">车票预订</a></li>
        <li><a id="queryOrderTab" data-iconshadow="false">订单查询</a></li>
        <li><a id="moreOptionsTab" class="ui-btn-active ui-state-persist" data-iconshadow="false">我的12306</a><div class="circle" style="display:none;"></div></li>
      </ul>
    </div>
</div>
</div>