
<div id="birthdayPickerView" data-role="page"  data-add-back-btn="true">
	<div data-role="header" data-position="fixed" data-tap-toggle="false">
		<a id="birthdayPickBackBtn"  data-rel="back" data-role="button"></a>
		<h1  style="margin:0 0; ">选择出生日期</h1>
	</div>
	<div id="birthdayPickerContent" data-role="content" data-iscroll='{"useTransform":false}'>
  		<div class="datePickerContent" >
	    	<input name="birthdayPickerInputHidden"  type="text" data-role="datebox" data-options='{"mode":"calbox","afterToday": false,"calOnlyMonth":true,
		"calUsePickers":true,"useInline":true,"nextYear":true,"preYear":true,"maxDays": false}' id="birthdayPickerInputHidden" style="display:none"/>
		</div>
	</div>
	<div data-role="footer" class="footer_bar" data-position="fixed" data-tap-toggle="false" data-id="navBar">
		<div data-role="navbar" class="f_nav">
			<ul>
				<li><a id="bookTicketTab"
					 data-iconshadow="false">车票预订</a></li>
				<li><a id="queryOrderTab" data-iconshadow="false">订单查询</a></li>
				<li><a id="moreOptionsTab" data-iconshadow="false" class="ui-btn-active ui-state-persist">我的12306</a><div class="circle" style="display:none;"></div></li>
			</ul>
		</div>
	</div>
</div>