<div id="cancelOrderView" data-role="page">
  <div data-role="header" data-position="fixed" data-tap-toggle="false">
    <h1>确认退票</h1>
  </div>
  
  <div data-role="content" data-iscroll> 	
	<div id="cancelOrderDetail">
		<div class="normal-prompt">
			<div id="cancelOrderDetailsPrompt" class="top-prompt"></div>
		</div>
		<div class="ui-grid-b detailsGrid">
			<div id="cancelOrderFromStationDetail" class="ui-block-a">
				<div id="cancelOrderFromStationName" class="stationName"></div>
				<div id="cancelOrderTrainStartTime" class="trainStartTime"></div>
			</div>
			<div id="cancelOrderTrainMiscDetail" class="ui-block-b">
				<div id="cancelOrderTrainCodeName" class="trainCodeName"></div>
				<div id="cancelOrderTrainDetailArrow" class="trainDetailArrow" ></div>
			</div>
			<div id="cancelOrderToStationDetail" class="ui-block-c">
				<div id="cancelOrderToStationName" class="stationName"></div>
				<div id="cancelOrderTrainReachTime" class="trainReachTime"></div>
			</div>
		</div>
		<div id="cancelOrderTicketDetailsGrid" class="orderDetailsGrid"></div>
	</div>
	
    
    <div class="content-space">
	    <div style="font-size:9pt; margin-right:5px;text-align:right">
	   <!--   <span style="margin-right:5px" id="sendTicketPriceId">快递费：<span style="color:red;"><span id="sendTicketPrice"></span>元</span></span> -->
	    <span >
	    	应退票款：<span style="color:red;margin-right:5px"><span id="cancelOrderReturnPrice"></span>元</span>
	 	</span>
	    </div>
	    <div style="font-size:9pt; margin-right:5px;text-align:right">
	    <span style="margin-right:5px" id="cancelOrderCostRateId">当前退票费率：<span style="color:red" id="cancelOrderCostRate"></span><span style="color:red">%</span></span>
	     <span >
	      	退票费：<span style="color:red;margin-right:5px;" id="cancelOrderCostPriceId"><span id="cancelOrderCostPrice"></span>元</span>
	      </span>
	    </div>
    </div>
    
	<div class="div_bigBtn"><a id="cancelOrderConfirmBtn" data-role="button">确定退票</a></div>
	<div class="div_bigBtn2"><a id="cancelOrderCancelBtn" data-role="button">取消退票</a></div>

   <div class="tips2">
    <h5><span>*</span>温馨提示：</h5>
    <p id="cancelOrderConfirmOrderTips">
    1.请确认身份信息和车票信息后，点击“确认退票”按钮，继续退票操作。<br>
	2.退票费如下核收：票面乘车站开车时间前48小时以上的按票价5%计，24小时以上、不足48小时的按票价10%计，不足24小时的按票价20%计。上述计算的尾数以5角为单位，尾数小于2.5角的舍去、2.5角以上且小于7.5角的计为5角、7.5角以上的进为1元；最低按2元计收。<br>
	3.应退票款按银行规定时限退还至购票时所使用的银行卡，请注意查收。<br>
	4.如您需要退票费报销凭证，请凭购票所使用的乘车人有效身份证件原件和订单号码在办理退票之日起10日内到车站退票窗口索取。<br>
	5.退票成功后，将向您注册时提供的邮箱和手机发送退票信息，请稍后查询。<br>
	6.距开车前48小时-15天期间内的车票，改签/变更到站至距开车15天以上的其他列车，又在距开车前15天前退票的，仍核收5%的退票费。
    </p>
   </div>

  </div>
  
  <div data-role="footer" class="footer_bar" data-position="fixed" data-tap-toggle="false" data-id="navBar">
   	<div data-role="navbar" class="f_nav">
      <ul>
        <li><a id="bookTicketTab" data-iconshadow="false">车票预订</a></li>
        <li><a id="queryOrderTab" class="ui-btn-active ui-state-persist" data-iconshadow="false">订单查询</a></li>
        <li><a id="moreOptionsTab" data-iconshadow="false">我的12306</a><div class="circle" style="display:none;"></div></li>
      </ul>
    </div>
  </div>
</div>