<div id="changePwdView" data-role="page" data-dom-cache="true">
	<div data-role="header" data-position="fixed" data-tap-toggle="false">
		<a data-role="button" id="changPwdBackBtn" class="my12306Btn" data-shadow="false"></a>
		<h1>密码修改</h1>
	</div>

	<div data-role="content" data-iscroll='{"useTransform":false}'>
		<fieldset class="moreOptionFieldSetContain">
			<div class="departlongline"></div>
			<div data-role="fieldcontain" class="departlongline">
				<label for="oldPasswdInput">原&nbsp;&nbsp;密&nbsp;&nbsp;码</label> 
				<div class="pencil-input">
				<input id="oldPasswdInput" type="password" placeholder="请输入原密码"/>
				</div>
			</div>
			<div data-role="fieldcontain" class="departlongline">
				<label for="newPasswdInput">新&nbsp;&nbsp;密&nbsp;&nbsp;码</label> 
				<div class="pencil-input">
				<input id="newPasswdInput" type="password" placeholder="不少于6位"/>
				</div>
			</div>
			<div data-role="fieldcontain" class="departlongline">
				<label for="confirmPasswdInput">密码确认</label>
				<div class="pencil-input">
				<input id="confirmPasswdInput" type="password" placeholder="请再次输入密码"/>
				</div>
			</div>
			<div data-role="fieldcontain" class="departlongline">
				<div class="pencil-input-validationCode" id="validationCodeInputDiv">
					<input id="changePassValidationCode" type="tel" placeholder="输入获取的短信验证码" pattern="[0-9]*" maxlength="6">
				</div>
				<label id="changePassValidationCodeBtn" style="float: right;margin: 6px!important;">获取验证码</label> 
			</div>
		</fieldset>
		<div class="div_bigBtn">
			<a id="changPwdBtn" data-role="button" data-prefetch>确&nbsp;定</a>
		</div>
	</div>

	<div data-role="footer" class="footer_bar" data-position="fixed" data-tap-toggle="false" data-id="navBar">
	   	<div data-role="navbar" class="f_nav">
	      <ul>
	        <li><a id="bookTicketTab" data-iconshadow="false">车票预订</a></li>
	        <li><a id="queryOrderTab" data-iconshadow="false">订单查询</a></li>
	        <li><a id="moreOptionsTab" data-iconshadow="false" class="ui-btn-active ui-state-persist">我的12306</a><div class="circle" style="display:none;"></div></li>
	      </ul>
	    </div>
  	</div>
</div>

