<div id="continuePaymentView" data-role="page">
  <div data-role="header" data-position="fixed" data-tap-toggle="false">
    <h1>继续支付</h1>
    <a href="#" id="continuePay_line" data-role="button" data-shadow="false" class="clock ui-btn-right"><span id="continuePayTime"></span></a> 
  </div>
  
  <div data-role="content" data-iscroll> 
  	<div id="continuePaymentOrderDetail">
		<div class="normal-prompt">
			<div id="continuePaymentOrderDetailsPrompt" class="top-prompt"></div>
		</div>
		<div class="ui-grid-b detailsGrid">
			<div id="continuePaymentFromStationDetail" class="ui-block-a">
				<div id="continuePaymentFromStationName" class="stationName"></div>
				<div id="continuePaymentTrainStartTime" class="trainStartTime"></div>
			</div>
			<div id="continuePaymentTrainMiscDetail" class="ui-block-b">
				<div id="continuePaymentTrainCodeName" class="trainCodeName"></div>
				<div id="continuePaymentTrainDetailArrow" class="trainDetailArrow" ></div>
			</div>
			<div id="continuePaymentToStationDetail" class="ui-block-c">
				<div id="continuePaymentToStationName" class="stationName"></div>
				<div id="continuePaymentTrainReachTime" class="trainReachTime"></div>
			</div>
		</div>
		<div id="continuePaymentBookedTicketDetailsGrid" class="orderDetailsGrid"></div>
	</div>
  	<div id="continuePaymentOrderDetailPre" style='display:none;'>
		<div class="normal-prompt">
			<div id="continuePaymentOrderDetailsPromptPre" class="ui-block-a"></div>
		</div>
		<div class="ui-grid-b detailsGrid">
			<div id="continuePaymentFromStationDetailPre" class="ui-block-a">
				<div id="continuePaymentFromStationNamePre" class="stationName"></div>
				<div id="continuePaymentTrainStartTimePre" class="trainStartTime"></div>
			</div>
			<div id="continuePaymenttrainMiscDetailPre" class="ui-block-b">
				<div id="continuePaymentTrainCodeNamePre" class="trainCodeName"></div>
				<div id="continuePaymentTrainDetailArrowPre" class="trainDetailArrow"></div>
			</div>
			<div id="continuePaymentToStationDetailPre" class="ui-block-c">
				<div id="continuePaymentToStationNamePre" class="stationName"></div>
				<div id="continuePaymentTrainReachTimePre" class="trainReachTime"></div>
			</div>
		</div>
		<div id="continuePaymentBookedTicketDetailsGridPre" class="orderDetailsGrid"></div>
	</div>
	
    
    <div class="content-space">
	    <div id="continuePaymentOrderTotalPriceInfo" class="ui-grid-b" style="margin-right:5px;">
	      <div class="ui-block-a" style="width: 72%;text-align: right;font-size:16px;">总票价:</div>
	      <div class="ui-block-c" style="width:28%;text-align: right;">
	      	<span style="color:red;"><span id="continuePaymentOrderTotalPrice"></span>元</span>
	      </div>
	    </div>
	    
	    <div id="continuePaymentOrderDifPriceInfo" style="text-align: right; margin-right:5px;display:none;" >
	    	<div>
	    		<span id="continuePaymentOrderDifPriceId">退回票款差价：<span style="color:red;" id="continuePaymentOrderDifPrice">元</span></span>
	    		<span id="continuePaymentOrderReturnRateId">退票费率：<span style="color:red;" id="continuePaymentOrderReturnRate">%</span></span>
	    	</div>
	    	<div id="continuePaymentOrderReturnCostDiv">
	    		<span id="continuePaymentOrderReturnFactId">实际退还票款：<span style="color:red;" id="continuePaymentOrderReturnFact">元</span></span>
	    	  	<span id="continuePaymentOrderReturnCostId">退票费：<span style="color:red;" id="continuePaymentOrderReturnCost">元</span></span>
	    	</div>
	    </div>
	    <div id="continuePaymentOrderRepayPriceInfo" style="text-align: right; margin-right:5px;display:none;" >
	    	<div>收取新票票款：<span style="color:red;" id="continuePaymentNewTicketPrice">元</span></div>
	    	<div>退还原票票款：<span style="color:red;" id="continuePaymentOldTicketPrice">元</span></div>
	    </div>
	    <div id="continueSendTicketTotalPriceInfo" class="ui-grid-b" style="display:none;margin-right:5px;">
	      <div class="ui-block-a" style="width: 72%;text-align: right;font-size:16px;">快递费:</div>
	      <div class="ui-block-c" style="width:28%;text-align: right;">
	      	<span style="color:red;"><span id="continueExpressTotalPrice"></span>元</span>
	      </div>
	    </div>
	    <div id="continueInsuranceTicketTotalPriceInfo" class="ui-grid-b" style="display:none;margin-right:5px;">
	      <div class="ui-block-a" style="width: 72%;text-align: right;font-size:16px;">保险费:</div>
	      <div class="ui-block-c" style="width:28%;text-align: right;">
	      	<span style="color:red;"><span id="continueInsuranceTotalPrice"></span>元</span>
	      </div>
	    </div>
    </div>
      <div class="div_bigBtn"><a id="continuePaymentConfirmPaymentBtn" data-role="button">立即支付</a></div>
      <div id="buyBackTicketId" class="div_bigBtn" style="display:none"><a data-role="button">购买返程</a></div>
      <!-- <div class="div_bigBtn"><a id="continuePaymentinsuranceTicketBtn" data-role="button">投付保险</a></div> -->
      <div class="div_bigBtn"><a id="continuePaymentSendTicketVisitBtn" data-role="button">送票上门</a></div>
      <div class="div_bigBtn2"><a id="continuePaymentCancelOrderBtn" data-role="button">取消订单</a></div>

   <div class="tips2">
    <h5><span>*</span>温馨提示：</h5>
    <p id="confirm_OrderTips">1.席位已成功锁定，请在提示时间内完成支付，否则系统将自动取消本次交易。
    	<br>
    	2.距开车前48小时-15天期间内的车票，改签/变更到站至距开车15天以上的其他列车，又在距开车前15天前退票的，仍核收5%的退票费。
    	<br>
    	3.退票费如下核收：票面乘车站开车时间前48小时以上的按票价5%计，24小时以上、不足48小时的按票价10%计，不足24小时的按票价20%计。上述计算的尾数以5角为单位，尾数小于2.5角的舍去、2.5角以上且小于7.5角的计为5角、7.5角以上的进为1元；最低按2元计收。
    </p>
   </div>

  </div>
  
  <div data-role="footer" class="footer_bar" data-position="fixed" data-tap-toggle="false" data-id="navBar">
   	<div data-role="navbar" class="f_nav">
      <ul>
        <li><a id="bookTicketTab" data-iconshadow="false">车票预订</a></li>
        <li><a id="queryOrderTab" class="ui-btn-active ui-state-persist" data-iconshadow="false">订单查询</a></li>
        <li><a id="moreOptionsTab" data-iconshadow="false">我的12306</a><div class="circle" style="display:none;"></div></li>
      </ul>
    </div>
 </div>
</div>