
<div id="datePickerView" data-role="page">
	<div data-role="header" data-position="fixed" data-tap-toggle="false">
	<a id="datePickBackBtn"  data-role="button" data-shadow="false"></a>
	    <h1 id="datePicker" style="margin:0 0;">选择出发日期</h1>
	</div>
	<div id="datePickerContent" data-role="content" data-iscroll='{"useTransform":false}' >
  		<div class="datePickerContent" >
	    	<input name="datePickerInputHidden" type="text" data-role="datebox" data-options='{"mode":"calbox","calUsePickers":true,"useInline":true,"nextYear":false,"preYear":false}' id="datePickerInputHidden" style="display:none" />
		</div>
		
		<div class="insertLine"></div>
		<div class="typeSelectLable" id="typeSelectLableNomal" >
			<label class="typeSelectLabel1">普通</label> 
			<span id="typeSelect1"></span>
			<h4 id="normalTicketPeriod"></h4>
		</div>
		<div class="insertLine"></div>
		<div class="typeSelectLable" id="typeSelectLableStu">
			<label class="typeSelectLabel2">学生</label> 
			<span id="typeSelect2"></span>
			<h4 id="stuTicketPeriod"></h4>
		</div>   
		<div class="insertLine"></div> 
	</div>
	<div data-role="footer" class="footer_bar" data-position="fixed" data-tap-toggle="false" data-id="navBar">
		<div data-role="navbar" class="f_nav">
			<ul>
				<li><a id="bookTicketTab"
					class="ui-btn-active ui-state-persist" data-iconshadow="false">车票预订</a></li>
				<li><a id="queryOrderTab" data-iconshadow="false">订单查询</a></li>
				<li><a id="moreOptionsTab" data-iconshadow="false">我的12306</a><div class="circle" style="display:none;"></div></li>
			</ul>
		</div>
	</div>
</div>