<div id="selectFarePassengerView" data-role="page" data-dom-cache="true">
	<div data-role="header" data-position="fixed" data-tap-toggle="false">
			<a id="selectFarePassengerBackBtn" data-shadow="false" data-role="button"></a>
			<h1>添加乘客</h1>
			<a id="selectFarePassengerFunBtn" data-shadow="false" data-role="button" class="selectFarePassengerFunBtn">完成</a>
	</div>

	<div data-role="content" data-iscroll='{"useTransform":false}'>
		<ul id="farePassengerList" data-role="listview" data-filter="true" data-filter-placeholder="搜索" class="filterListView" >
           
           
        </ul>
        
        
	</div>

   <div class="slider-nav" id="selectFarePassenger_slider_nav" style="display:none;">
       <ul id="fareSlider_navList">
       </ul>
    </div>
    
    
	<div data-role="footer" class="footer_bar" data-position="fixed" data-tap-toggle="false" data-id="navBar">
	   	<div data-role="navbar" class="f_nav">
	      <ul>
	        <li><a id="bookTicketTab" data-iconshadow="false" class="ui-btn-active ui-state-persist">车票预订</a></li>
	        <li><a id="queryOrderTab" data-iconshadow="false">订单查询</a></li>
	        <li><a id="moreOptionsTab" data-iconshadow="false">我的12306</a><div class="circle" style="display:none;"></div></li>
	      </ul>
	    </div>
  	</div>
</div>
