<div id="FinishedOrderListView" data-role="page">
	<div data-role="header" data-position="fixed" data-tap-toggle="false">
		<a id="finishedOrderListViewBackBtn" data-role="button" data-shadow="false" class="head-btn-short"></a>
		<h1 id="finishedOrderListHeader"></h1>
	</div>
	
	<div id="orderPrompt" class="queryOrderResultHeight ui-grid-a top-prompt normal-prompt" style="display:none;" data-iscroll-fixed>
	    <div class="ui-block-a queryOrderTips">查询结果(<span id="orderLength"></span>)</div>
  		<div class="ui-block-b" style="padding: 3px 10px 3px 0px;"><span id='orderSelectTip'>下拉刷新,上拉加载更多</span></div>
  	</div>
	
	<div data-role="content" id="orderList_content" data-iscroll>
		<div id="iscroll-pulldown" class="iscroll-pulldown" style="display:none;">
	    	<span class="iscroll-pull-icon"></span>
            <span class="iscroll-pull-label" data-iscroll-loading-text="加载中..." data-iscroll-pulled-text="释放刷新...">下划刷新...</span>
	    </div>     
		
		<ul id="finishedOrderList" class="finishedOrderList" data-role="listview" style="background-color: white;"></ul>
    	
    	<div class="iscroll-pullup" id="orderList-pullup" style="display:none;">
	    	<span class="iscroll-pull-icon"></span>
            <span class="iscroll-pull-label" data-iscroll-loading-text="加载中..." data-iscroll-pulled-text="释放刷新...">上划加载更多...</span>
	    </div>   
	</div>
	
	<div data-role="footer" class="footer_bar" data-position="fixed" data-tap-toggle="false" data-id="navBar">
	   	<div data-role="navbar" class="f_nav">
	      <ul>
	        <li><a id="bookTicketTab" data-iconshadow="false">车票预订</a></li>
	        <li><a id="queryOrderTab" class="ui-btn-active ui-state-persist" data-iconshadow="false">订单查询</a></li>
	        <li><a id="moreOptionsTab" data-iconshadow="false">我的12306</a><div class="circle" style="display:none;"></div></li>
	      </ul>
	    </div>
 	</div>
</div>