<div id="FinishedOrderDetailView" data-role="page">
 	<div id="popupNested-screen"></div>
	<div id="popupNested">
         <ul data-role="listview">
             <li><div class="div_bigPopupBtn departlongline"><a data-role="button" id="finishOrderTrackBtn">订单跟踪</a></div></li>
             <li><div class="div_bigPopupBtn departlongline"><a data-role="button" id="expressStatusDetailBtn">快递详情</a></div></li>
              <li><div class="div_bigPopupBtn departlongline"><a data-role="button" id="queryRefundInfoBtn">退款详情</a></div></li>
             <li><div class="div_bigPopupBtn departlongline"><a data-role="button" id="saveImgForFinishedOrderBtn">保存本地</a></div></li>
             <li><div class="div_bigPopupBtn departlongline"><a data-role="button"id="shareForFinishedOrderBtn">分享好友</a></div></li>
             <!-- <li><div class="div_bigPopupBtn"><a data-role="button" id="travelPlan" style="border-bottom-left-radius: 4px!important; border-bottom-right-radius: 4px!important;">加入出行计划</a></div></li> -->
         </ul>
	</div>
	<div data-role="header" data-position="fixed" data-tap-toggle="false">
		<a id="FinishedOrderDetailViewBackBtn" data-role="button" data-shadow="false"></a>
		<h1 id="finishedOrderListHeader">订单详情</h1>
		<a id="moreOperation" href="#popupNested"></a>
		<div class="singleDoubleBtnGroup" data-role="controlgroup" data-type="horizontal">
		  <a id="cancleTicket" href="#" data-role="button" class="btnText ui-corner-left" style="width: 33.33%;">退票</a>
	      <a id="changeTicket" href="#" data-role="button" class="btnText ui-corner-right" style="width: 33.33%;">改签</a>
	      <a id="changeTostationTicket" href="#" data-role="button" class="btnText ui-corner-right" style="width: 33.33%;">变更到站</a>
	      
	    </div>
		
		<div id="orderPrompt" class="top-prompt-contain">
		  <div class="ui-grid-a top-prompt">
		    <div class="ui-block-a" id="ticketSquenceNo"></div>
		    <div class="ui-block-b" id="ticketBookedDate"></div>
		  </div>
	  	</div>
	</div>

	<div data-role="content" data-iscroll>
		<div id="forCopyFinishedOrderDetailView">
		<ul id="finishedOrderDetails" class ="finishedOrderDetail" data-role="listview">
    	</ul>
    	</div>  	
    	<div class="div_bigBtn" style="visibility:hidden;">
    		<a data-role="button" id="changeTicketBtn" style="color: #ffffff;" >改签</a>
    	</div>   
    	<br> <br>    
	</div>

	<div data-role="footer" class="footer_bar" data-position="fixed" data-tap-toggle="false" data-id="navBar">
	   	<div data-role="navbar" class="f_nav">
	      <ul>
	        <li><a id="bookTicketTab" data-iconshadow="false">车票预订</a></li>
	        <li><a id="queryOrderTab" class="ui-btn-active ui-state-persist" data-iconshadow="false">订单查询</a></li>
	        <li><a id="moreOptionsTab" data-iconshadow="false">我的12306</a><div class="circle" style="display:none;"></div></li>
	      </ul>
	    </div>
 	</div>
</div>
