<div id="getPwdView" data-role="page">
	<div data-role="header" data-position="fixed" data-tap-toggle="false">
		<a href="loginTicket.html" data-role="button" data-shadow="false"></a>
		<h1>找回密码</h1>
	</div>
	<div data-role="content" data-iscroll='{"useTransform":false}'>
    <div data-role="controlgroup" class="singleDoubleBtnGroup"  data-type="horizontal">
      <a id="getPwd1Choice" href="#" data-role="button" class="btnText ui-corner-left ui-btn-active ui-state-persist" style="width: 50%;">电子邮件</a>
      <a id="getPwd3Choice" href="#" data-role="button" class="btnText ui-corner-right" style="width: 50%;">手机号码</a>
    </div>
		<fieldset class="moreOptionFieldSetContain">
			<div class="departlongline"></div>
			<div id="getPwd1Option">
				<div data-role="fieldcontain" class="departlongline">
					<label>电子邮件</label>
					<div class="pencil-input">
						<input id="getPwd_email" type="email" placeholder="注册时使用的电子邮箱" />
					</div>
				</div>
				<div data-role="fieldcontain" class="departlongline">
					<label class="selectLabel">证件类型</label> 
					<select id="idType" name="证件类型" data-iconshadow="false" data-icon="none">
							<option value="1">二代身份证</option>
							<option value="C">港澳通行证</option>
							<option value="G">台湾通行证</option>
							<option value="B">护照</option>
							<!-- option value="H">外国人居留证</option -->
					</select>
				</div>
				<div data-role="fieldcontain" class="departlongline">
					<label>证件号码</label> 
					<div class="pencil-input">
						<input id="idNo" type="text" placeholder="请准确完整填写"/>
					</div>
				</div>
			</div>
			<div id="getPwd3Option" style="display: none;">
				<div data-role="fieldcontain" class="departlongline">
					<label>手机号码</label>
					<div class="pencil-input">
						<input id="getPwd_phone" type="number" placeholder="输入使用的手机号码" />
					</div>
				</div>
				<div data-role="fieldcontain" class="departlongline">
					<label class="selectLabel">证件类型</label> 
					<select id="phone_idType" name="证件类型" data-iconshadow="false" data-icon="none">
							<option value="1">二代身份证</option>
							<option value="C">港澳通行证</option>
							<option value="G">台湾通行证</option>
							<option value="B">护照</option>
							<!--  option value="H">外国人居留证</option -->
					</select>
				</div>
				<div data-role="fieldcontain" class="departlongline">
					<label>证件号码</label> 
					<div class="pencil-input">
						<input id="phone_idNo" type="text" placeholder="请准确完整填写"/>
					</div>
				</div>
				<div data-role="fieldcontain" class="departlongline">
					<label>新&nbsp;&nbsp;密&nbsp;&nbsp;码</label>
					<div class="pencil-input">
						<input id="getPwd3_passwd" type="password" placeholder="不少于6位"/>
					</div>
				</div>

				<div data-role="fieldcontain" class="departlongline">
					<label>密码确认</label> 
					<div class="pencil-input">
						<input id="getPwd3_confirmPasswd" type="password" placeholder="请再次输入密码"/>
					</div>
				</div>
			</div>
			
			<div data-role="fieldcontain" class="departlongline" id="getPwd3_validationCodeDiv" style="display: none;">
				<div class="pencil-input-validationCode" style="margin-left:6px;">
				<input id="getPwd3_validationCode" type="tel" placeholder="输入获取的短信验证码" pattern="[0-9]*" maxlength="6">
				</div>
				<label id="getPwd3_validationCodeBtn">获取验证码</label> 
			</div>
			
			<div data-role="fieldcontain" class="departlongline" id="getPwd_verifyDiv">
				<label>验&nbsp;&nbsp;证&nbsp;&nbsp;码</label>
				<div class="labelRightDiv verifyOut">
					<input id="getPwd_verify" type="tel" pattern="[0-9]*" maxlength="4" placeholder="四位数字"/> <img
						id="getPwd_verifyImage" src="#"><a
						id="getpwd_refreshPassCode">看不清,换一张</a>
				</div>
			</div>
		</fieldset>
		<div class="div_bigBtn"><a id="findPwdBtn" data-role="button" data-prefetch>提&nbsp;交</a></div>
		<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
   
</div>
	<div data-role="footer" class="footer_bar" data-position="fixed" data-tap-toggle="false" data-id="navBar">
	   	<div data-role="navbar" class="f_nav">
	      <ul>
	        <li><a id="bookTicketTab" data-iconshadow="false">车票预订</a></li>
	        <li><a id="queryOrderTab" data-iconshadow="false">订单查询</a></li>
	        <li><a id="moreOptionsTab" data-iconshadow="false" class="ui-btn-active ui-state-persist">我的12306</a><div class="circle" style="display:none;"></div></li>
	      </ul>
	    </div>
  	</div>
</div>