<div id="insuranceAgreementView" data-role="page">
	<div data-role="header" data-position="fixed" data-tap-toggle="false">
		<a href="../views/12306insurance.html" data-role="button" data-shadow="false" data-prefetch></a>
		<h1>保险条款</h1>
	</div>

	<div data-role="content" data-iscroll>		
	<div class="content">
			一、保险对象：<br>
	凡年龄在0-90周岁（0岁指出生满30天并健康出院）身体健康能正常工作、生活的人员。<br> 
二、保险期间: <br>
	被保险人以乘客身份乘坐商业运营的铁路列车时，本合同保险责任有效期间指自进入铁路列车车厢起至抵达目的地走出列车车厢止；<br>
	<strong>特别说明：以上所描述的铁路列车不包含城市地铁或轻轨列车；</strong><br>
三、投保份数：<br>
  	<strong>每一被保险人限投保1份,对多购部分，保险公司不再承担保险责任；未成年人身故保额上限为10万元。</strong><br>
四、适用条款: <br>
	《平安交通意外伤害保险条款》（2013版）A款（平保养发〔2013〕204号，2013年11月呈报中国保监会备案）<br>
	条款网址：<a href="#" id="insuranceAgreementSite"><u>http://annuity.pingan.com/baoxianchanpinmulu_more.shtml，为保障您的权益，请在投保前登录上述网址查询阅读并了解条款详细内容。</u></a><br>
<strong>五、责任免除: <br>
	因下列情形之一，造成被保险人身故、伤残、住院或医疗费用支出的，本公司不承担给付保险金的责任：<br>
（一）投保人对被保险人的故意杀害、故意伤害；<br>
（二）被保险人故意自伤、故意犯罪或者抗拒依法采取的刑事强制措施或自杀，但被保险人自杀时为无民事行为能力人的除外；<br>
（三）被保险人殴斗、醉酒，主动吸食或注射毒品；<br>
（四）被保险人酒后驾驶、无合法有效驾驶证驾驶，或驾驶无有效行驶证的机动车； <br>
（五）战争、军事冲突、暴乱或武装叛乱；<br>
（六）核爆炸、核辐射或核污染；<br>
（七）被保险人因妊娠（含宫外孕）、流产、分娩（含剖宫产）导致的伤害；<br>
（八）椎间盘突出症（包括椎间盘膨出、椎间盘突出、椎间盘脱出、游离型椎间盘等类型，由此导致的身故、伤残除外）；<br>
（九）被保险人因医疗事故、药物过敏或精神和行为障碍（依照世界卫生组织《疾病和有关健康问题的国际统计分类（ICD-10）》确定）导致的伤害；<br>
（十）被保险人未遵医嘱，私自使用药物，但按使用说明的规定使用非处方药不在此限；<br>
（十一）猝死、细菌或病毒感染（因意外事故导致的伤口发生感染者除外）；<br>
（十二）被保险人从事潜水、跳伞、攀岩、蹦极、驾驶滑翔机或滑翔伞、探险、摔跤、武术比赛、特技表演、赛马、赛车等高风险运动；<br>
（十三）被保险人违反承运人关于安全乘坐的规定。<br>
	发生上述第一项情形导致被保险人身故的，本合同终止，本公司向受益人退还本合同的未满期净保险费。<br>
	发生上述其它情形导致被保险人身故的，本合同终止，本公司向投保人退还本合同的未满期净保险费。</strong><br>
六、理赔须知:<br>
	平安保险公司理赔报案热线95511，您通过电话报案后保险公司将指引您并安排专人为您进行理赔。<br>
1.记住电子保单号码或者提供被保险人的姓名和证件号码。<br>
2.万一出险，被保险人或受益人应在知道保险事故后五日内且遗体处理前向保险人（即平安养老保险股份有限公司上海分公司）报案，我们的工作人员将协助您进行理赔。<br>
3.保存好一切与保险事故相关的证明和票据：<br>
(1)电子保单号；<br>
(2)受益人/被保险人的有效身份证明；若被保险人身故，且身故受益人为法定，则还需提供受益人与被保险人的关系证明；<br>
(3)由承运人出具的意外事故证明；<br>
(4)受益人/被保险人所能提供的与确认保险事故的性质、原因、伤害程度（门诊病历、出院小结或住院病历）等有关的其它证明和资料；<br>
(5)被保险人身故的，还需提供以下材料：<br>
A）国家卫生行政部门认定的医疗机构、公安部门或其它相关机构出具的被保险人的死亡证明；<br>
B）如被保险人为宣告死亡，受益人须提供人民法院出具的宣告死亡证明文件；<br>
C）被保险人户籍注销证明、殓葬/火化证明；<br>
D）理赔申请资格确认表<br>
E）受益人为多人时还需提供所有受益人签署的授权办理理赔申请、领款的委托书；<br>
(6) 被保险人伤残的，还需提供以下材料：<br>
由双方认可的医疗机构（或鉴定机构）出具的伤残程度鉴定书；<br>
4.在发生保险责任事故后，请按第3条要求收集齐理赔申请所需的凭证，到平安养老保险股份有限公司上海分公司办理有关理赔手续。<br>
5.理赔金给付：保险人在收到理赔申请材料后，经审核对于确属保险责任范围类的事故，理赔将由客户到平安养老保险股份有限公司上海分公司办理。<br>
6.受益人向保险人请求赔偿或者给付保险金的诉讼时效期间为二年，自其知道或者应当知道保险事故发生之日起计算。保险金作为被保险人遗产时，必须提供可证明合法继承权的相关权利文件。 申请人申请保险金时，如提供的以上证明和资料不完整，本公司将及时一次性通知申请人补充提供有关证明和资料。<br>
7.理赔服务电话：<strong>95511</strong> <br>
8．本保险受益人：法定。<br>
七、改签须知：<br>
1)、如需改签，需保单还未生效2小时以上方可操作，且每张保单仅限改签一次<br/>
2)、改签后保单生效时间不能早于改签时间<br/>
<strong>八、请您仔细阅读本《保险说明》，如果您点击确认，则视为您已完整阅读、理解并认可保险条款，尤其是责任免除条款及理赔须知等具体内容。本保险将只提供电子保单号，不提供任何纸质保险凭证。</strong><br>
九、保险验真通道：<br>
1)、官网短址查询：登录<a href="#" id="pinganSite"><u>www.pingan.com</u></a>官方网站注册一账通进行查验。<br>
2)、电话验真查询：致电24小时客服<strong>95511</strong> -> 选择6(团险客户) -> 选择1(团体保险)。<br>
3）、微信查询：加“平安养老险”公众账号，点击“保单服务”-“保单验真”查询。<br>

<strong><u>重要声明内容</u>：<br>
1、本人申明：为本人以外的成年被保险人投保及保额事宜，均已获得被保险人同意，本人愿意承担由此发生的法律责任。</strong><br>
2、本人承诺本投保单中所填写的各项内容均属实，如有隐瞒或告知不实，保险公司有权解释保险合同，对于合同解除前发生的保险事故，保险公司可不承担任何责任；<br>
3、本人已认真阅读并了解<strong><u>投保须知并</u></strong>完全同意以上所有内容，同意如发生有关网上投保险种、保险金额等方面的分歧，以保险公司发送的短信、电子保单或保单查询页面所记载内容为准。<br>
4、本人同意提供给平安集团（指中国平安保险（集团）股份有限公司及其直接或间接控股的公司）的信息，及本人享受平安集团金融服务产生的信息（包括本单证签署之前提供和产生的），可用于平安集团及因服务必要而委托的第三方为本人提供服务及推荐产品，法律禁止的除外。平安集团及其委托的第三方对上述信息负有保密义务。本条款自本单证签署时生效，具有独立法律效力，不受合同成立与否及效力状态变化的影响。<br>
		</div>
	</div>
</div>