

<div id="loginView" data-role="page" data-dom-cache="true">
          <div data-role="header" data-position="fixed" data-tap-toggle="false">
		<a id="moreOptionBtn" data-role="button" data-shadow="false"></a>
		<h1>登录12306</h1>
	</div>
	<div data-role="content" data-iscroll='{"useTransform":false}'>
	
		<fieldset class="moreOptionFieldSetContain">
			<div class="departlongline"></div>
			<div data-role="fieldcontain" class="departlongline">
				<label>用户名</label>
				<div class="pencil-input">
					<input id="usernameInput" type="email" value="" placeholder="12306.cn用户名"/>
				</div>						
				<a id="deleteUserName" data-role="button" data-icon="delete" data-iconpos="notext" data-mini="true" data-inline="true" style="display:none;">Delete</a>
			</div>
			<div data-role="fieldcontain" class="departlongline">
				<label for="passwordInput">密&nbsp;&nbsp;&nbsp;&nbsp;码</label>
				<div class="pencil-input">
					<input id="passwordInput" type="password" value="" placeholder="12306.cn密码"/>
				</div>						
				<a id="deletePassword" data-role="button" data-icon="delete" data-iconpos="notext" data-mini="true" data-inline="true" style="display:none;">Delete</a>
			</div>
		</fieldset>
        <div id="credentialMiscBar">
			<span class="chk_outSpan" style="min-width:5em;"><input id="keepUsrChkbox" type="checkbox" data-role="none"/><span></span><label>记住密码</label></span>
			<span class="chk_outSpan"><input id="autologinChkbox" type="checkbox" data-role="none"/><span></span><label >自动登录</label></span>
			
			<a href="getPwd.html">忘记密码&nbsp;<em>&gt;</em></a>
			
			
		</div>
		
		<div id="groupBtn" data-role="controlgroup" data-type="horizontal">
 				<a id="registerBtn" class="loginButton" data-role="button">注 册</a>
				<a id="loginBtn" class="loginButton" data-role="button">登 录</a>
  		</div>			

	</div>
          
          <div data-role="footer" class="footer_bar" data-position="fixed" data-tap-toggle="false" data-id="navBar">
	   	<div data-role="navbar" class="f_nav">
	      <ul>
	        <li><a id="bookTicketTab" data-iconshadow="false">车票预订</a></li>
	        <li><a id="queryOrderTab" data-iconshadow="false">订单查询</a></li>
	        <li><a id="moreOptionsTab" data-iconshadow="false" class="ui-btn-active ui-state-persist">我的12306</a><div class="circle" style="display:none;"></div></li>
	      </ul>
	    </div>
  	</div>
</div>
