<div id="modifyTicketAddressView" data-role="page">
	<div data-role="header" data-position="fixed" data-tap-toggle="false">
		<a id="modifyTicketAddressBackBtn" data-shadow="false" data-role="button"></a>
		<h1 id="TicketAddressTitle">编辑送票地址</h1>
		<a id="modifyTicketAddressBtn" data-role="button">完成</a>
	</div>

	<div data-role="content" data-iscroll='{"useTransform":false}'>
		<fieldset class="hasLegend">
			<legend>地址信息</legend>
			<div class="departlongline"></div>
			<div data-role="fieldcontain" class="departshortline">
				<label class="selectLabel">所在省份</label>
				<select id="provinceSelect" name="省份" data-iconshadow="false"
					data-icon="none">
				</select>
			</div>

			<div data-role="fieldcontain" class="departshortline">
				<label class="selectLabel">所在市(区)</label>
				<select id="citySelect" name="市区" data-iconshadow="false"
					data-icon="none">
				</select>
			</div>

			<div data-role="fieldcontain" class="departshortline">
				<label class="selectLabel">所在区(县)</label>
				<select id="countrySelect" name="区县" data-iconshadow="false"
					data-icon="none">
				</select>
			</div>

			<div data-role="fieldcontain" class="departshortline">
				<label class="selectLabel">所在村(镇)</label>
				<select id="townSelect" name="村镇" data-iconshadow="false"
					data-icon="none">
				</select>
			</div>
			
			<div data-role="fieldcontain" class="departshortline">
				<label class="selectLabel">所在区域</label>
				<select id="streetSelect" name="区域" data-iconshadow="false"
					data-icon="none">
				</select>
			</div>
			
			<div data-role="fieldcontain" class="departshortnoline">
				<label>详细地址</label>
				<div class="pencil-input">
					<input id="addressDetail" type="text" />
				</div>
			</div>
		</fieldset>
		<div class="departlongline"></div>
		<fieldset class="hasLegend">
			<legend>收件人信息</legend>
			<div class="departlongline"></div>
			<div data-role="fieldcontain" class="departshortline">
				<label>收&nbsp;&nbsp;件&nbsp;&nbsp;人</label>
				<div class="pencil-input">
					<input id="attnName" type="text" />
				</div>
			</div>
			<div data-role="fieldcontain" class="departshortnoline">
				<label>手机号码</label>
				<div class="pencil-input">
					<input id="attnMobileNo" type="tel"></input>
				</div>
			</div> 
		</fieldset>
		<div class="departlongline"></div>
	   <div id="pretermitAddressInfo" class="reg_b">
	      	<span class="chk_outSpan">
				<input id="pretermit" name="pretermit" type="checkbox" data-role="none"/>
				<span></span>
		  	</span> 
		  	<label for="pretermit">设置为默认地址</label>     
	   </div>

		<div id="deleteTicketAddressOptions" style="display: none;"
			class="div_bigBtn2">
			<a id="deleteTicketAddressBtn" data-role="button" data-prefetch>删&nbsp;除 </a>
		</div>

		<div class="tips2">
			<h5><span>*</span>温馨提示：</h5>
			<p id="passengerInfoMsg">
			1.您最多可添加20个车票快递地址，对已支付的地址30天内不可删除与修改。<br/>
			2.请您准确完整的填写收件地址、收件人姓名、手机号码等信息，并保持电话畅通，以免耽误接收车票。
			</p>
		</div>
		<br> <br> <br>
	</div>

	<div data-role="footer" class="footer_bar" data-position="fixed"
		data-tap-toggle="false" data-id="navBar">
		<div data-role="navbar" class="f_nav">
			<ul>
				<li><a id="bookTicketTab" data-iconshadow="false">车票预订</a></li>
				<li><a id="queryOrderTab" data-iconshadow="false">订单查询</a></li>
				<li><a id="moreOptionsTab" data-iconshadow="false"
					class="ui-btn-active ui-state-persist">我的12306</a><div class="circle" style="display:none;"></div></li>
			</ul>
		</div>
	</div>
</div>
