<div id="modifyuserInfoView" data-role="page" data-dom-cache="true">
	<div data-role="header" data-position="fixed" data-tap-toggle="false">
		<a id="modifyuserInfoBackBtn" data-role="button" data-shadow="false"></a>
		<h1>个人资料</h1>
		<a id="confirmUserInfoModifyBtn" data-role="button">完成</a>
	</div>

	<div data-role="content"  data-iscroll='{"useTransform":false}'>
		<div class="departlongline"></div>
		<fieldset class="hasLegend">
			<legend>基本信息</legend>
			<div class="departlongline"></div>
			<div data-role="fieldcontain" class="departshortline">
				<label>用&nbsp;&nbsp;户&nbsp;&nbsp;名</label>
				<div class="labelRightDiv" id="modify_username"></div>
			</div>

			<div data-role="fieldcontain" class="departshortline">
				<label>密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码</label> 
				<div class="pencil-input">
				<input id="modify_passwd" type="password" placeholder="不少于6位"></input>
				</div>
			</div>
			<div data-role="fieldcontain" id="otherpwdPromptOption" class="departshortline"	style="display:none;">
				<label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
				<div class="pencil-input">
				<input id="modify_otherpwdPrompt" type="text" class="ui-disabled" />
				</div>
			</div>

			<div data-role="fieldcontain" class="departshortline" style="display: none;">
				<label>提示答案</label>
				<div class="pencil-input">
				<input id="modify_pwdQuestion" type="text" class="ui-disabled"/>
				</div>
			</div>

			<div data-role="fieldcontain" class="departshortnoline">
				<label>验&nbsp;&nbsp;证&nbsp;&nbsp;码</label>
				<div class="labelRightDiv verifyOut">
					<input id="modify_passCode" type="tel" pattern="[0-9]*" maxlength="4" placeholder="四位数字"/>
					<img id="passCodeImg" /> <a id="refreshPassCode">看不清,换一张</a>
				</div>
			</div>


		</fieldset>
		<div class="departlongline"></div>
		<fieldset class="hasLegend">
        <legend>详细信息</legend>
        <div class="departlongline"></div>
			<div data-role="fieldcontain" class="departshortline">
				<label>姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名</label>
				<div class="pencil-input">
				<input id="modify_name" type="text" placeholder="请输入真实姓名,以便购票"/>
				</div>
			</div>

			<div data-role="fieldcontain" class="departshortline">
				<label class="selectLabel">性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别</label>
				<select id="modify_sex" name="性别" data-iconshadow="false" data-icon="none">
						<option value="M">男</option>
						<option value="F">女</option>
				</select>
			</div>

			<div data-role="fieldcontain" class="departshortline">
				<label>出生日期</label> 
				<div class="pencil-input">
				<input name="lang1" type="text"  id="modify_bornDateShow" readonly="readonly"/>
				<input id="modify_bornDate" name="出生日期" type="hidden"/>
				</div>
			</div>

			<div data-role="fieldcontain" class="departshortline">
				<label class="arrow-right-common-label">国家地区</label> 
				<div class="pencil-input arrow-right-common">
				<input id="modify_country" name="国家地区" type="text" readonly="readonly" class="right-arrow-input"/>
				<input id="modify_country_code"  type="hidden"></input>
				</div>
			</div>

			<div data-role="fieldcontain" class="departshortline">
				<label class="selectLabel">证件类型</label> 
				<select id="modify_idType" name="证件类型" data-iconshadow="false" data-icon="none">
						<option value="1">二代身份证</option>
						<option value="2">一代身份证</option>
						<option value="C">港澳通行证</option>
						<option value="G">台湾通行证</option>
						<option value="B">护照</option>
						<!--  option value="H">外国人居留证</option -->
				</select>
			</div>

			<div data-role="fieldcontain" class="departshortnoline">
				<label>证件号码</label> 
				<div class="pencil-input">
				<input id="modify_idNo" type="text"	placeholder="请准确完整填写"/>
				</div>
			</div>
		</fieldset>
		<div class="departlongline"></div>
		<fieldset class="hasLegend">
        <legend>联系方式</legend>
        <div class="departlongline"></div>
			<div data-role="fieldcontain" class="departshortline" id="modifyMobileDiv">
				<label>手机号码</label> 
				<div class="pencil-input">
					<input id="modify_mobile" type="tel" placeholder="用于接收铁路客户服务信息" class="ui-disabled"/>
				</div>
			</div>
			<div data-role="fieldcontain" class="departshortline">
				<label>固定电话</label> 
				<div class="pencil-input">
				<input id="modify_phone" type="tel"/>
				</div>
			</div>

			<div data-role="fieldcontain" class="departshortline">
				<label>电子邮件</label> 
				<div class="pencil-input">
				<input id="modify_email" type="email" class="ui-disabled"/>
				</div>
			</div>

			<div data-role="fieldcontain" class="departshortline">
				<label>地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址</label> 
				<div class="pencil-input">
				<input id="modify_address" type="text"/>
				</div>
			</div>

			<div data-role="fieldcontain" class="departshortnoline">
				<label>邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;编</label> 
				<div class="pencil-input">
				<input id="modify_postalCode" type="number" pattern="[0-9]*"/>
				</div>
			</div>
		</fieldset>
		<div class="departlongline"></div>
		<fieldset class="hasLegend">
        <legend>附加信息</legend>
        <div class="departlongline"></div>
			<div data-role="fieldcontain" class="departshortnoline">
				<label class="selectLabel">旅客类型</label> 
				<select id="modify_userType" name="旅客类型" data-iconshadow="false" data-icon="none">
						<option value="1">成人</option>
						<option value="2">儿童</option>
						<option value="3">学生</option>
						<option value="4">残军</option>
				</select>
			</div>
			<div id="schoolOptions" style="display: none;">
				<div data-role="fieldcontain" class="departshortline">
					<label class="arrow-right-common-label">学校省份</label> 
					<div class="pencil-input arrow-right-common">
					<input id="modify_studentProvince" name="学校省份" type="text" readonly="readonly" class="right-arrow-input"/>
					<input id="modify_studentProvince_code" type="hidden"/>
					</div>
				</div>
				<div data-role="fieldcontain" class="departshortline">
					<label class="arrow-right-common-label">学校名称</label>
					<div class="pencil-input arrow-right-common">
					<input id="modify_studentSchool" name="学校名称" type="text" readonly="readonly" class="right-arrow-input"/>
					<input id="modify_studentSchool_code" type="hidden"/>
					</div>
				</div>
				<div data-role="fieldcontain" class="departshortline">
					<label>院&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;系</label> 
					<div class="pencil-input">
					<input id="modify_studentDepartment" type="text"/>
					</div>
				</div>
				<div data-role="fieldcontain" class="departshortline">
					<label>班&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;级</label> 
					<div class="pencil-input">
					<input id="modify_studentClass" type="text"/>
					</div>
				</div>
				<div data-role="fieldcontain" class="departshortline">
					<label>学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号</label> 
					<div class="pencil-input">
					<input id="modify_studentNo" type="text"/>
					</div>
				</div>
				<div data-role="fieldcontain" class="departshortline">
					<label class="selectLabel">学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;制</label> 
					<select id="modify_studentSystem" name="学制" data-iconshadow="false" data-icon="none">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
					</select>
				</div>
				<div data-role="fieldcontain" class="departshortline">
					<label class="selectLabel">入学年份</label> 
					<select id="modify_studentEnterYear" name="入学年份" data-iconshadow="false" data-icon="none">
        					<option value=""></option>
       				</select>
				</div>
				<div data-role="fieldcontain" class="departshortline">
					<label>优惠卡号</label> 
					<div class="pencil-input">
					<input id="modify_preferenceCardNo" type="text"/>
					</div>
				</div>
				<div data-role="fieldcontain" class="departshortline">
					<label class="arrow-right-common-label">优惠区间</label> 
					<div class="pencil-input arrow-right-common">
					<input id="modify_preferenceFromStation" type="text" readonly="readonly" class="right-arrow-input"/>
					<input id="modify_preferenceFromStation_code" type="hidden"/>
					</div>
				</div>
				<div data-role="fieldcontain" class="departshortnoline">
					<label class="arrow-right-common-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;至</label> 
					<div class="pencil-input arrow-right-common">
					<input id="modify_preferenceToStation" type="text" readonly="readonly"  class="right-arrow-input"/>
					<input id="modify_preferenceToStation_code" type="hidden"/>
					</div>
				</div>
			</div>
			<div class="departlongline"></div>
		</fieldset>
		<div style="height:10px;">&nbsp;</div>
	</div>

	<div data-role="footer" class="footer_bar" data-position="fixed" data-tap-toggle="false" data-id="navBar">
	   	<div data-role="navbar" class="f_nav">
	      <ul>
	        <li><a id="bookTicketTab" data-iconshadow="false">车票预订</a></li>
	        <li><a id="queryOrderTab" data-iconshadow="false">订单查询</a></li>
	        <li><a id="moreOptionsTab" data-iconshadow="false" class="ui-btn-active ui-state-persist">我的12306</a><div class="circle" style="display:none;"></div></li>
	      </ul>
	    </div>
  	</div>
</div>

