<div id="moreOptionView" data-role="page">
	<div data-role="header" data-position="fixed" data-tap-toggle="false">
		<h1>我的12306</h1>
	</div>

	<div data-role="content" data-iscroll>
		<fieldset class="moreOptionFieldSetContain">
			<div class="departlongline"></div>
			<div id="logoutOption" style="display:none;background-color:#fff;">
				<a id="logoutOptionDesc" class="a_btn departshortnoline arrow-right">退出登录</a>
			</div>
            <div id="loginOption" style="display:none;background-color:#fff;">
                <a id="loginDoOption" class="a_btn departshortline arrow-right" data-transition="slide">登录</a>
                <a id="registOption" class="a_btn departshortnoline arrow-right">注册</a>
            </div>
            <div class="departlongline"></div>
		</fieldset>
		<fieldset class="moreOptionFieldSetContain">
			<div class="departlongline"></div>
			<div style="background-color:#fff;">
				<a id="more_trainQuery" class="a_btn departshortline arrow-right">车次查询</a>
				<a id="more_ticketPriceQuery" class="a_btn departshortline arrow-right">票价查询</a>
				<a id="more_agencySellTicketQuery" class="a_btn departshortline arrow-right">代售点查询</a>
				<a id="more_stationTrainQuery" class="a_btn departshortline arrow-right">车站车次查询</a>
				<a id="more_startSellTicketTimeQuery" class="a_btn departshortnoline arrow-right">起售时间查询</a>
			</div>
			<div class="departlongline"></div>
		</fieldset>
		<fieldset id="marketDiv" class="moreOptionFieldSetContain">
			<div class="departlongline"></div>
			<div style="background-color:#fff;">
				<a id="adsview">旅行休闲
					<span class="newVersion" style="display:none;">
						<span>New</span>
					</span>
				</a>
				<a id="Hotelview">特惠酒店
					<span class="newVersion" style="display:none;">
						<span>New</span>
					</span>
				</a>
				<a id="Taxiview">接送站服务
				    <span id="taxiViewCouponFlag" class="taxiServiceCouponFlag" style="background-size: 30px 33px;height: 20px;width: 30px;left: 35%;margin: 2.0% 10% 0 0"></span>
					<span class="newVersion" style="display:none;">
						<span>New</span>
					</span>
				</a>
				<!-- a id="TaoBaoview" class="a_btn departNoline arrow-right">旅行团购</a>  -->
			</div>
			<div class="departlongline"></div>
		</fieldset>
		<fieldset class="moreOptionFieldSetContain">
			<div class="departlongline"></div>
			<div style="background-color:#fff;">
			<!--  a id="more_settings" class="a_btn departshortline arrow-right">设置</a -->
			<!--  a href="suggestion.html" class="a_btn">意见反馈</a -->
			<div id="dataUpdate" style="display:none;">
				<a href="#" class="a_btn departshortline arrow-right">基础数据更新 
				<span class="newVersion">
					<span>New</span>
				</span>
				</a>
			</div>
			<a id="aboutId" class="a_btn departshortnoline arrow-right">关于
				<span class="newVersion" style="display:none;">
					<span>New</span>
				</span>
			</a>
			</div>
			<div class="departlongline"></div>
		</fieldset>
		<fieldset class="moreOptionFieldSetContain">
			<div style="height:1px;"></div>
		</fieldset>
	</div>

    <div data-role="footer" class="footer_bar" data-position="fixed" data-tap-toggle="false" data-id="navBar">
   	<div data-role="navbar" class="f_nav">
      <ul>
        <li><a id="bookTicketTab" data-iconshadow="false">车票预订</a></li>
        <li><a id="queryOrderTab" data-iconshadow="false">订单查询</a></li>
        <li><a id="moreOptionsTab" class="ui-btn-active ui-state-persist">我的12306</a><div class="circle" style="display:none;"></div></li>
      </ul>
    </div>
  </div>
    
</div>

