<div id="my12306View" data-role="page">
	<div data-role="header" data-position="fixed" data-tap-toggle="false">
		<a data-shadow="false" id="my12306BackBtn" data-role="button"></a>
		<h1 id="userNameDesc">我的12306</h1>
	</div>

	<div data-role="content" data-iscroll>
	 <fieldset class="moreOptionFieldSetContain">
	 		<div class="departlongline"></div>
	 		<div style="background-color:#fff;">
				<a id="favoriteContacts" class="a_btn arrow-right departshortline">常用联系人</a>
				<a id="ticketAddressMessage" class="a_btn arrow-right departshortline">送票地址</a>
			    <a id="userInformation"  class="a_btn arrow-right departshortline">个人资料</a>
			    <a id="phoneBinding"  class="a_btn arrow-right departshortline">手机核验</a> 
			    <a id="changPasswd"  class="a_btn arrow-right departshortline">密码修改</a>
			    <a id="updateUserEmail"  class="a_btn arrow-right departshortline">邮箱修改</a>
			    <a id="sendEmailEmail"  class="a_btn arrow-right departshortnoline">邮箱验证</a>
		    </div>
		    <div class="departlongline"></div>
     </fieldset>
     <div class="div_bigBtn2">
     	<a id="logoutBtn" data-role="button">退出当前用户</a>
     </div>
	</div>

	<div data-role="footer" class="footer_bar" data-position="fixed" data-tap-toggle="false" data-id="navBar">
   	<div data-role="navbar" class="f_nav">
      <ul>
        <li><a id="bookTicketTab" data-iconshadow="false">车票预订</a></li>
        <li><a id="queryOrderTab" data-iconshadow="false">订单查询</a></li>
        <li><a id="moreOptionsTab" data-iconshadow="false" class="ui-btn-active ui-state-persist">我的12306</a><div class="circle" style="display:none;"></div></li>
      </ul>
    </div>
  </div>
</div>

