 <div id="noticeBookView" data-role="page" data-dom-cache="true">
 
	<div data-role="header" data-position="fixed" data-tap-toggle="false">
		 <a id="noticeBookBackBtn" data-shadow="false" data-role="button" href="settings.html"></a>
		  <h1>通知订阅</h1>
	</div>
  	
  	<div id="noticeSetting" data-role="content" data-iscroll='{"useTransform":false}'>
  		<fieldset style="padding:0px;">		
			<div class="a_btn departlongline ui-field-contain" style="background-color:#fff">
				<label for="dealAlarm">订单通知</label>
				<select name="switch" id="dealAlarm" data-role="slider" data-mini="true" class="arrow-right">
						<option value="off">已关</option>
						<option value="on" selected>已开</option>
				</select>
			</div>
			
			<div class="a_btn departlongline ui-field-contain"  style="background-color:#fff">
				<label for="boardInfo">乘车提醒</label>
				<select name="switch" id="boardInfo" data-role="slider" data-mini="true"  class="arrow-right">
						<option value="off">已关</option>
						<option value="on" selected>已开</option>
				</select>
			</div>
			
			<div class="a_btn departlongline ui-field-contain"  style="background-color:#fff">
				<label for="lastestInfo">最新动态</label>
				<select name="switch" id="lastestInfo" data-role="slider" data-mini="true"  class="arrow-right">
						<option value="off">已关</option>
						<option value="on" selected>已开</option>
				</select>
			</div>
			
			<div class="a_btn departlongline ui-field-contain"  style="background-color:#fff">
				<label for="systemAlarm">系统通知</label>
				<select name="switch" id="systemAlarm" data-role="slider" data-mini="true"  class="arrow-right">
						<option value="off">已关</option>
						<option value="on" selected>已开</option>
				</select>
			</div>
		</fieldset>
		<!--  	  	
		<ul id="notice_scroller" data-role="listview">
	  	</ul>
	  	-->
	  	
	</div>

</div>