
 <div id="OrderTrackDetailView" data-role="page" data-dom-cache="true">
 
  <div data-role="header" data-position="fixed" data-tap-toggle="false">
   <a id="orderTrackBackBtn" data-shadow="false" data-role="button"></a>
    <h1>订单跟踪</h1>
    <div id="orderTrackPrompt" class="top-prompt-contain">
		  <div class="ui-grid-a top-prompt">
		    <div class="ui-block-a" style="width:45%;color:#000;">订单编号:<span id="sequenceNo"></span></div>
		    <div class="ui-block-b" style="width:55%;">订单日期:<span id="orderDate"></span></div>
		  </div>
	 </div>
  </div>	
	<div data-role="content" data-iscroll>
		<ul id="orderTrackList" data-role="listview" class="orderTrackBlock"></ul>   
	</div>
	
	<div data-role="footer" class="footer_bar" data-position="fixed" data-tap-toggle="false" data-id="navBar">
	   	<div data-role="navbar" class="f_nav">
	      <ul>
	        <li><a id="bookTicketTab" data-iconshadow="false">车票预订</a></li>
	        <li><a id="queryOrderTab" data-iconshadow="false" class="ui-btn-active ui-state-persist">订单查询</a></li>
	        <li><a id="moreOptionsTab" data-iconshadow="false">我的12306</a><div class="circle" style="display:none;"></div></li>
	      </ul>
	    </div>
 	</div>
</div>