<div id="orderDetailsView" data-role="page" data-dom-cache="true">
  <div data-role="header" data-position="fixed" data-tap-toggle="false">
    <h1>确认支付</h1>
    <a href="#" id="pay_line" data-role="button" data-shadow="false" class="clock ui-btn-right"><span id="payTime"></span></a> 
  </div>
  
  <div data-role="content" data-iscroll> 
  	<div id="orderDetail">
		<div class="normal-prompt">
			<div id="orderDetailsPrompt" class="top-prompt"></div>
		</div>
		<div class="ui-grid-b detailsGrid">
			<div id="fromStationDetail" class="ui-block-a">
				<div id="fromStationName" class="stationName"></div>
				<div id="trainStartTime" class="trainStartTime"></div>
			</div>
			<div id="trainMiscDetail" class="ui-block-b">
				<div id="trainCodeName" class="trainCodeName"></div>
				<div id="trainDetailArrow" class="trainDetailArrow" ></div>
				<div id="trainDurationTime" class="trainDurationTime"></div>
			</div>
			<div id="toStationDetail" class="ui-block-c">
				<div id="toStationName" class="stationName"></div>
				<div id="trainReachTime" class="trainReachTime"></div>
			</div>
		</div>
		<div id="bookedTicketDetailsGrid" class="orderDetailsGrid"></div>
	</div>
  	<div id="orderDetailPre" style='display:none;'>
		<div class="normal-prompt">
			<div id="orderDetailsPromptPre" class="ui-block-a"></div>
		</div>
		<div class="ui-grid-b detailsGrid">
			<div id="fromStationDetailPre" class="ui-block-a">
				<div id="fromStationNamePre" class="stationName"></div>
				<div id="trainStartTimePre" class="trainStartTime"></div>
			</div>
			<div id="trainMiscDetailPre" class="ui-block-b">
				<div id="trainCodeNamePre" class="trainCodeName"></div>
				<div id="trainDetailArrowPre" class="trainDetailArrow"></div>
				<div id="trainDurationTimePre" class="trainDurationTime"></div>
			</div>
			<div id="toStationDetailPre" class="ui-block-c">
				<div id="toStationNamePre" class="stationName"></div>
				<div id="trainReachTimePre" class="trainReachTime"></div>
			</div>
		</div>
		<div id="bookedTicketDetailsGridPre" class="orderDetailsGrid"></div>
	</div>	
    
    <div class="content-space">
	    <div id="ticketPriceInfo" class="ui-grid-b">
	      <div class="ui-block-a" style="width: 25%;">成功:<span id="orderSuccessTicktNumber"></span>张</div>
	      <div class="ui-block-b" style="width:45%;text-align: right;color:black;">总票价:</div>
	      <div class="ui-block-c" style="width:30%;"><span style="color:red;"><span id="orderTotalPrice"></span>元</span></div>
	    </div>
	    <div id="orderDifPriceInfo" style="text-align: right; display:none;" >
	    	<div>
	    		<span id="orderDifPriceId">退回票款差价：<span style="color:red;" id="orderDifPrice">元</span></span>
	    		<span id="returnRateId">退票费率：<span style="color:red;" id="returnRate">%</span></span>
	    	</div>
	    	<div id="returnRateAndFact">
	    		实际退还票款：<span style="color:red;" id="returnFact">元</span>
	    		退票费：<span style="color:red;" id="returnCost">元</span>
	    	</div>
	    </div>
	    <div id="orderRepayPriceInfo" style="text-align: right; display:none;" >
	    	<div>收取新票票款：<span style="color:red;" id="newTicketPrice">元</span></div>
	    	<div>退还原票票款：<span style="color:red;" id="oldTicketPrice">元</span></div>
	    </div>
	    <div id="sendTicketTotalPriceInfo" class="ui-grid-b" style="display:none;">
	      <div class="ui-block-a" style="width: 25%;">&nbsp;</div>
	      <div class="ui-block-b" style="width: 45%;color:black;text-align: right;">快递费:</div>
	      <div class="ui-block-c" style="width:30%;"><span style="color:red;"><span id="expressTotalPrice"></span>元</span></div>
	    </div>
	    <div id="orderInsuranceTicketTotalPriceInfo" class="ui-grid-b" style="display:none;">
	      <div class="ui-block-a" style="width: 72%;text-align: right;">保险费:</div>
	      <div class="ui-block-c" style="width:28%;"><span style="color:red;"><span id="orderInsuranceTotalPrice"></span>元</span>
	      </div>
	    </div>
    </div>
	<div class="div_bigBtn"><a id="confirmPaymentBtn" data-role="button">立即支付</a></div>
	<div class="div_bigBtn"><a id="buyBackTicketBtn" data-role="button" style="display:none">购买返程</a></div>
	<!--  div class="div_bigBtn"><a id="offLinePayConfirmTicket" data-role="button">手机预订</a></div-->
	<div class="div_bigBtn"><a id="confirmChangeTicket" data-role="button" style="display:none">确认改签</a></div>
	<div class="div_bigBtn"><a id="sendTicketVisitBtn" data-role="button">送票上门</a></div>
	<div class="div_bigBtn2"><a id="cancelOrderBtn" data-role="button">取消订单</a></div>

   <div class="tips2">
    <h5><span>*</span>温馨提示：</h5>
    <p id="confirmOrderTips">1.席位已成功锁定，请在提示时间内完成支付，否则系统将自动取消本次交易。
    	<br>
    	2.距开车前48小时-15天期间内的车票，改签/变更到站至距开车15天以上的其他列车，又在距开车前15天前退票的，仍核收5%的退票费。
    	<br>
    	3.退票费如下核收：票面乘车站开车时间前48小时以上的按票价5%计，24小时以上、不足48小时的按票价10%计，不足24小时的按票价20%计。上述计算的尾数以5角为单位，尾数小于2.5角的舍去、2.5角以上且小于7.5角的计为5角、7.5角以上的进为1元；最低按2元计收。
   </div>
	
  </div>
  
  <div data-role="footer" class="footer_bar" data-position="fixed" data-tap-toggle="false" data-id="navBar">
   	<div data-role="navbar" class="f_nav">
      <ul>
        <li><a id="bookTicketTab" data-iconshadow="false" class="ui-btn-active ui-state-persist">车票预订</a></li>
        <li><a id="queryOrderTab" data-iconshadow="false">订单查询</a></li>
        <li><a id="moreOptionsTab" data-iconshadow="false">我的12306</a><div class="circle" style="display:none;"></div></li>
      </ul>
    </div>
 </div>
</div>