<div id="orderListView" data-role="page">
	<div data-role="header" data-position="fixed" data-tap-toggle="false">
		<a id="orderListViewBackBtn" data-role="button" data-shadow="false"></a> 
		<h1>未完成订单详情</h1>
	</div>
  
	<div id="unFinishedOrderDetailsPrompt" data-iscroll-fixed>
		<div class="ui-grid-a top-prompt normal-prompt" id="unFinishedOrderInfo">
			<div id="unFinishedOrderDateId" class="ui-block-a">订单时间：<span id="unFinishedOrderDate"></span></div>
			<div id="unFinishedOrderNumberId" class="ui-block-b">总张数：<span id="unFinishedOrderNumber"></span></div>
		</div>
	</div>
	
	<div data-role="content" data-iscroll>
		<ul id="orderListTrainDetailsGrid" class="trainDetailsGridAll" data-role="listview">
    	</ul>
		<div class="detailsGrid" id="orderTrainDetails" style="display:none;">
			<div id="unFinishedTrainDateId" class="unFinishedTrainDate"></div>
			<div class="ui-grid-b detailsGrid" >
			<div id="pfromStationDetail_qOrder" class="ui-block-a">
				<div id="pfromStationName_qOrder" class="stationNameUnFinishedOrder"></div>
				<div id="ptrainStartTime_qOrder" class="trainStartTime"></div>
			</div>
			<div id="ptrainMiscDetail_qOrder" class="ui-block-b">
				<div id="ptrainCodeName_qOrder" class="trainCodeName"></div>
				<div id="ptrainDetailArrow_qOrder" class="trainDetailArrow"></div>
				<div id="ptrainDurationTime_qOrder" class="trainDurationTime"></div>
			</div>
			<div id="ptoStationDetail_qOrder" class="ui-block-c">
				<div id="ptoStationName_qOrder" class="stationNameUnFinishedOrder"></div>
				<div id="ptrainReachTime_qOrder" class="trainReachTime"></div>
			</div>
			</div>
		</div>
		<fieldset id="ShowPassenger">
	 		<div id="FareHeadersBtnGroup2"  data-role="controlgroup" data-type="horizontal" data-mini="true"></div>
	 	</fieldset>
	 	<div id="ticketStatus" class="ticketStatus"></div>
	 	<div id="reportTicketId" class="div_bigBtn"><a data-role="button" id="reportTicket" data-prefetch>举报</a></div>
	    <div id="continuePayId" class="div_bigBtn"><a data-role="button" id="continuePay" data-prefetch>继续支付</a></div>
		<div class="div_bigBtn2"><a id="cancelOrder" data-role="button" data-prefetch>取消订单</a></div>
	    <div style="height:1px"><!-- Do not delete to make iscroll work right --></div>
	</div>

  <div data-role="footer" class="footer_bar" data-position="fixed" data-tap-toggle="false" data-id="navBar">
   	<div data-role="navbar" class="f_nav">
      <ul>
        <li><a id="bookTicketTab" data-iconshadow="false">车票预订</a></li>
        <li><a id="queryOrderTab" class="ui-btn-active ui-state-persist" data-iconshadow="false">订单查询</a></li>
        <li><a id="moreOptionsTab" data-iconshadow="false">我的12306</a><div class="circle" style="display:none;"></div></li>
      </ul>
    </div>
 </div>
  
</div>