<div id="passengersView" data-role="page" data-dom-cache="false">
  <div data-role="header" data-position="fixed" data-tap-toggle="false">
    <a id="passengersBackBtn" data-shadow="false" data-role="button"></a>
    <h1>乘车人信息</h1>
    <!--
    <div class="top-prompt-contain">
	  <div id="passengersPrompt" class="ui-grid-b top-prompt">
	    <div class="ui-block-a"></div>
	    <div class="ui-block-b text_orange"></div>
	    <div class="ui-block-c"></div>
	  </div>
    </div>
    -->
    <div class="top-prompt-contain">
	  <div id="passengersPrompt" class="ui-grid-b top-prompt">
	    <div class="ui-block-a">
			<a id="passengersPrevDateBtn" style="text-align: center; color: white;">前一天</a>
		</div>
	    <div class="ui-block-b" id="passengersChooseDateInputId">
	    	<input name="passengersChooseDateBtn" type="text"  id="passengersChooseDateBtn" readonly="readonly" />
		</div>
	    <div class="ui-block-c">
	    	<a id="passengersNextDateBtn" style="text-align: center; color: white;">后一天</a>
	    </div>
	  </div>
	 </div>
  </div>

  <div data-role="content" data-iscroll='{"useTransform":false}'>
	<div class="ui-grid-b detailsGrid">
		<div id="pfromStationDetail" class="ui-block-a">
			<div id="pfromStationName" class="stationName">北京</div>
			<div id="ptrainStartTime" class="trainStartTime">06:45 出发</div>
			<div style="display:none" id="pstartStationName" class="startStation">
				<div class="ticket-station-img ticket-from-station-img">始</div>
				<div id="innerStartStation"></div> 
			</div>
		</div>
		<div id="ptrainMiscDetail" class="ui-block-b">
			<div id="ptrainCodeName" class="trainCodeName">C2201</div>
			<div style="height:14px;display:none;" id="el_ticket_div">
			   <img style="width:18px;height:12px;margin-top:3px;" class="el-ticket-right-arrow-img" src="../images/ticket_arrow_ren.png" />
			</div>
			<div class="ticket-right-arrow"></div>
			<div id="ptrainDurationTime" class="trainDurationTime">35分钟</div>
		</div>
		<div id="ptoStationDetail" class="ui-block-c">
			<div id="ptoStationName" class="stationName">上海</div>
			<div id="ptrainReachTime" class="trainReachTime">07:20 到达</div>
			<div style="display:none" id="pendStationName" class="endStation">
				<div class="ticket-station-img ticket-to-station-img">终</div>
				<div id="innerEndStation"></div>
			</div>
		</div>
	</div>
	<div><a class="a_btn arrow-down" id="queryStopStationBtn"></a></div>
	<div id="currentStopStationInfo" class="stopStationInfo" style="display:none;">
	</div>
	<fieldset>
		<div class="car-box-list" data-role="controlgroup" data-type="horizontal" data-mini="true">         
        </div>
	</fieldset> 
        
    <fieldset class="car-psn-add-btn">
		<div class="car-peop">      
        </div>  
        <div class="cl"></div>
        <div class="car-peop-btn"><a id="TicketAddPassengerBtn" href="#"><span class="addPsgTxt">添加乘客</span></a></div>
	</fieldset>
    <ul id="candidateList" class="passengerRecordList">
	</ul>
    <div id="orderSubmitDiv">
    <div id="preferentialAgreeInfo" class="agreeItemInfo" style=" margin-left: 70%; text-align: none; margin-bottom: 10px;">
	      <span class="chk_outSpan" style="width: 24px; height: 21px;">
			<input id="preferentialAgree" name="agree" type="checkbox" data-role="none" style="margin-left: -2px;"/>
			<span></span>
		  </span> 
		  <label for="agree">返程优惠</label>   
	   </div>
	   
	   
	   	<div id="captchaDivOld" data-role="fieldcontain" class="content-space" style="display: none;">
	     	<span id="captchaPrompt">提交验证码:</span>
	     	<span id="captchaGroup"  class="verifyOut"> 
	     		<input type="tel" name="number" id="captchaInput" maxlength="4" placeholder="四位数字"/>
	     		<img id="captchaImg" />
	     	</span> 
	     	<a id="refreshCaptcha">看不清，换一张</a>
	    </div>
	    
	    <div id="captchaDivNew" data-role="fieldcontain" class="content-space" style="margin: 0 auto; width: 293px; height: 190px; display: none;">
	     <img id="refreshImgBtn" src="../images/captchaReload.png" style="position: absolute;margin-left: 230px;margin-top: 2px;z-index: 1000;display: none;">
	      <img id="captchaImg1" style="display: none;"/>
	    </div>
	    
	    
	    <div id="counter_line" class="content-space" style="display:none">
	    	<a  id="waitTimeOKbtn" data-inline="true">确定</a>
	    	最新等待时间：<span id="waitTime"></span>
	    </div>
	    
		<div class="div_bigBtn">
	    	<a data-role="button" id="submitOrderBtn">提交订单</a>
	    </div>
	    <div class="div_bigBtn" style="display:none;">
	    	<a data-role="button" id="submitChangeTicketBtn">提交订单</a>
	    </div>	    
	</div>
    <div class="tips3" style="display:none;">
		<h5><span>*</span>温馨提示：</h5>
		<p id="passengerInfoTipsForAF">如需按包房整包购买，请长按动卧、高级动卧席别标签。</p>
		<p id="passengerInfoTips">长按成人类型的乘车人，可以自动添加同行儿童类型的乘车人。</p>
	    </div>
	<br/>
	<br/>
	<br/>
  </div>
  <div data-role="footer" class="footer_bar" data-position="fixed" data-tap-toggle="false" data-id="navBar">
   	<div data-role="navbar" class="f_nav">
      <ul>
        <li><a id="bookTicketTab" data-iconshadow="false" class="ui-btn-active ui-state-persist">车票预订</a></li>
        <li><a id="queryOrderTab" data-iconshadow="false">订单查询</a></li>
        <li><a id="moreOptionsTab" data-iconshadow="false">我的12306</a><div class="circle" style="display:none;"></div></li>
      </ul>
    </div>
  </div>
</div>