<div id="passengerListView" data-role="page">
	<div data-role="header" data-position="fixed" data-tap-toggle="false">
			<a data-role="button" id="passengerListBackBtn" class="my12306Btn" data-shadow="false"></a>
			<h1>常用联系人</h1>
			<a id="addPassengerBtn" data-role="button">添加</a>
	</div>

	<div data-role="content" data-iscroll='{"useTransform":false}'>
		<ul id="passengerLists" data-role="listview" data-filter="true" data-filter-placeholder="搜索" class="filterListView">
		</ul>
	</div>
	
	<div class="slider-nav" id="passengerList_slider_nav" style="top: 110px">
       <ul id="slider_navLists">
       </ul>
    </div>

	<div data-role="footer" class="footer_bar" data-position="fixed" data-tap-toggle="false" data-id="navBar">
   	<div data-role="navbar" class="f_nav">
      <ul>
        <li><a id="bookTicketTab" data-iconshadow="false">车票预订</a></li>
        <li><a id="queryOrderTab" data-iconshadow="false">订单查询</a></li>
        <li><a id="moreOptionsTab" data-iconshadow="false" class="ui-btn-active ui-state-persist">我的12306</a><div class="circle" style="display:none;"></div></li>
      </ul>
    </div>
  </div>
</div>