<div id="payFinishtView" data-role="page">
	<div data-role="header" data-position="fixed" data-tap-toggle="false">
	  <h1>支付完成</h1>
	</div>

	<div data-role="content" data-iscroll>
		<div id="forCopyPayFinishtView">
		<div class="payfinish">
			<div id="payFinish">
				<h1>感谢您选择铁路出行！您的订单号是：</h1>
				<div id="sequence_no" class="sequence_no"></div>
				<div id="orderDetailsPrompt" class="ui-grid-b top-prompt normal-prompt">
					<h4>订票信息</h4>
				</div>
				
				<ul id="trainDetailsGridAll" class="trainDetailsGridAll" data-role="listview" data-theme="c"></ul>
				
				<div class="total">总票价：<span id="payfinishTotalPrice"></span></div>
			</div>
			<div id="cancelFinish" style="display: none;">
				<br>
				<h1>恭喜!您已退票成功 请您牢记业务号：</h1>
				<div id="payOrderID" class="sequence_no"></div><br>
				<div style="margin-right: 20px; text-align: right;" id="firstTicketReturnPrice">
					<!--快递费:<span style="color: red;"><span id="sendTicketPrice2"></span>元</span> -->
					原票价:<span style="color: red;"><span id="oriTicketPrice"></span>元</span>
					手续费:<span style="color: red;"><span id="oriTicketReturnCostPrice"></span>元</span>        
					<!--  退票费:<span style="color: red;"><span id="ticketReturnCost"></span>元</span>--></div>
				<div style="margin-right: 20px; text-align: right;" id="secondTicketReturnPrice">
							<span id="ticketPriceRateId">
								退票费率:<span style="color: red;">
											<span id="ticketPriceRate">
											</span>%
										</span>
							</span>
							                应退票款:<span style="color: red;">
							                	<span id="shouldTicketPrice">
							       				</span>元
							       			</span>
				 </div>
				 <br>
								<br><br>
			</div>
			
			<div class="div_bigBtn">
				<a id="continueBookTicket" href="../MobileTicket.html" data-role="button" data-prefetch>继续购票</a>
			</div>
			<div class="div_bigBtn">	
				<a id="queryOrder"  data-role="button" data-prefetch>查询订单</a>
			</div>
          
			<div data-role="navbar" id="payFinishNavBar">
				<ul>
					<!-- <li><a id="addTravelPlanBtn"  data-icon="custom">加入<br/>出行计划</a></li> -->
					<!-- <li id="saveToLocaleBlock" style="border-right: 1px solid #fff;width: 25%;display:none;" class="ui-grid-d ui-block-a"><a id="saveToLocale" data-icon="custom" >保存<br/>到本地</a></li> -->
					<li style="border-right: 1px solid #fff;"><span id='taxiServiceCouponFlag'></span><a id="taxiService" data-icon="custom" style="background-color: #298CCF;"></a></li>		
				 	<li style="border-right: 1px solid #fff;"><span id='hotelServiceFreeFlag'></span><a id="hotelService" data-icon="custom" style="background-color: #298CCF;"></a></li>
					<!-- <li id="nearAgencySellTicketBlock" style="border-right: 1px solid #fff;display:none;"><a id="nearAgencySellTicket"  data-icon="custom">周边<br/>代售点</a></li> -->
					<li style="border-right: 1px solid #fff;"><a id="shareToFriend"  class="shareToFriendCss" data-icon="custom" style="background-color: #298CCF;"></a></li>
					<li style="border-right: 1px solid #fff;"><a id="travel"  class="travelCss" data-icon="custom" style="background-color: #298CCF;"></a></li>
				</ul>
			</div>
		 
		   <h5 class="tipWarm"><span style="color: red;font-size: 18px;vertical-align: middle;">*</span>温馨提示：</h5>
		   <div id="customer_name"></div>
			<p id="payFinishTips" style='text-indent:2em;margin-top:6px'>如您拟于乘车前到车站售票窗口换票，请预留足够的换票时间，以免窗口排队人数较多，耽误您检票乘车。</p>
			<div id="cancelFinishTips2" class="tips2" style="display: none;">
			</div>
			
		</div>
		
		</div>
		
	</div>
	
	
	<!-- 本页面去掉footer -->
	<!-- 
	<div data-role="footer" class="footer_bar" data-position="fixed" data-tap-toggle="false" data-id="navBar">
		<div data-role="navbar" class="f_nav">
		<ul>
			<li><a id="bookTicketTab"  data-icon="custom" data-iconpos="top" class="ui-btn-active ui-state-persist" data-iconshadow="false">车票预订</a></li>
			<li><a id="queryOrderTab"  data-icon="custom" data-iconpos="top" data-iconshadow="false">订单查询</a></li>
			<li><a id="my12306Tab"  data-icon="custom" data-iconpos="top" data-iconshadow="false">我的12306</a></li>
			<li><a id="moreOptionsTab"  data-icon="custom" data-iconpos="top" data-iconshadow="false">更多功能</a></li>
		</ul>
		</div>	
	</div>
	
	 -->
	
</div>