 <div id="pushmessageView" data-role="page" data-dom-cache="true">
 
	<div data-role="header" data-position="fixed" data-tap-toggle="false">
		 <a id="pushmessageBackBtn" data-shadow="false" data-role="button"></a>
		  <h1>系统通知</h1>
	</div>
	
	<div class="push-top-prompt-contain">
  		<div class="push-top-prompt" id="pushmessage_top_info" style="display:none;"></div>
  	</div>
  	
  	<div id="push_content" data-role="content" data-iscroll>
	   	<div id="pushmessage-pulldown" class="iscroll-pulldown" style="display:none;text-align:center">
	    	<span class="iscroll-pull-icon"></span>
	        <span class="iscroll-pull-label" data-iscroll-loading-text="加载中..." data-iscroll-pulled-text="释放刷新...">下拉刷新...</span>
		</div>  
	  	<ul id="push_scroller" data-role="listview">
	  	</ul>
	  	<div id="pushmessage-pullup" class="iscroll-pullup" style="display:none;text-align:center">
	    	<span class="iscroll-pull-icon"></span>
	        <span class="iscroll-pull-label" data-iscroll-loading-text="正在加载，请稍候..." data-iscroll-pulled-text="请释放刷新...">上拉显示更多...</span>
		</div>  
	</div>
	<div data-role='popup' id='popupDiv' data-theme='a' style="border-style:none;">
			<ul data-role='listview' data-inset='true' data-theme='a'>
				<li id='popcopy'><a href='#' style='border-radius:0.5em 0 0 0.5em;border-width:0px;'>复制</a></li>
				<li id='popdelete'><a href='#' style='border-radius:0 0.5em 0.5em 0;border-width:0px;'>删除</a></li>
			</ul>
		</div>
	<div class="push-bottom-prompt-contain">
  		<div class="push-bottom-prompt" id="pushmessage_bottom_info" style="display:none;"></div>
  	</div>
  	
	<div data-role="footer" class="footer_bar" data-position="fixed" data-tap-toggle="false" data-id="navBar">
	   	<div data-role="navbar" class="f_nav">
	      <ul>
	        <li><a id="bookTicketTab" data-iconshadow="false">车票预订</a></li>
	        <li><a id="queryOrderTab" data-iconshadow="false">订单查询</a></li>
	        <li><a id="moreOptionsTab" data-iconshadow="false" class="ui-btn-active ui-state-persist">我的12306</a><div class="circle"></div></li>
	      </ul>
	    </div>
	 </div>
 
</div>