<div id="queryRefundInfoView" data-role="page">
  <div data-role="header" data-position="fixed" data-tap-toggle="false">
   <a id="refundInfoBackBtn" data-shadow="false" data-role="button"></a>
    <h1>退款详情</h1>
  </div>

  <div data-role="content" data-iscroll>
		<ul id="queryRefundInfoDetail" data-role="listview" data-theme="c">
    	</ul>
  </div>
  <div data-role="footer" class="footer_bar" data-position="fixed" data-tap-toggle="false" data-id="navBar">
   	<div data-role="navbar" class="f_nav">
      <ul>
        <li><a id="bookTicketTab" data-iconshadow="false">车票预订</a></li>
        <li><a id="queryOrderTab" class="ui-btn-active ui-state-persist" data-iconshadow="false">订单查询</a></li>
        <li><a id="moreOptionsTab" data-iconshadow="false">我的12306</a><div class="circle" style="display:none;"></div></li>
      </ul>
    </div>
 </div>
</div>