<div id="queryOrderView" data-role="page">
  <div data-role="header" data-position="fixed" data-tap-toggle="false">
    <h1>订单查询</h1>
  </div>

  <div data-role="content" data-iscroll='{"useTransform":false}'>
	<div style="clear:both;height:30px;">
      <div id="finishedOrdersDiv" class="qry_order_tab qry_order_tab_active">
      	已完成订单
      </div>
      <div id="notFinishedOrdersDiv"  class="qry_order_tab">
      	未完成订单
      </div>
  	</div>
  	 
  	<div id="notFinshedOrders" class="queryOrderResultHeight ui-grid-b normal-prompt" style="display:none;">
	   <div class="queryOrderTips" id="noFinishedOrdersDesc">未完成订单</div>
	</div>
	<ul id="noFinishedOrdersQuery" data-role="listview" class="orderList filterListView ui-listview" style="display: none;">
	</ul>
	
	<div id="finishedOrders" class="departlongline">
		<div class="queryOrderTips departlongline" id="todayDiv" style="background-color:rgb(239,239,244);"></div>
        <a id="todayOrder" class="a_btn departshortline arrow-right">今日订单</a>
        <!-- <div class="queryOrderTips departlongline" id="sevenDaysDiv"></div> 
        <a id="sevenDaysOrder" class="a_btn textSpace departlongline arrow-right">七日内订单</a>-->
        <a id="noTravelOrder" class="a_btn departshortline arrow-right">未出行订单</a>
         <!-- <div class="queryOrderTips departlongline"><span>更多</span></div>
        <a id="advanceQuery" class="a_btn textSpace departlongline arrow-right">高级查询</a>-->
        <a id="traveledOrder" class="a_btn departshortnoline arrow-right">历史订单</a>
    </div>
    
    <div class="tips2">
	    <h5><span>*</span>温馨提示：</h5>
	    <p id="confirmOrderTips">
	    1.订单信息在本系统保存期限不少于30日。<br>
	    2.在本网站购票后，没有换取纸质车票的，可不晚于开车前30分钟在本网站办理改签、退票业务，或不晚于开车前48小时在本网站办理“变更到站”业务。<br>
	    3.在本应用办理退票，只能逐次单张办理。<br>
	    4.改签、变更到站均只能办理一次。已经改签或变更到站的车票不再次办理改签；对已改签车票暂不提供“变更到站”服务。<br>
	    5.退票、改签、变更到站后，如有应退票款，按购票时所使用的在线支付工具相关规定，将在规定时间内退还至原在线支付工具账户，请及时查询。如有疑问，请致电12306人工客服查询。<br>
	    6.退票费如下核收：票面乘车站开车时间前48小时以上的按票价5%计，24小时以上、不足48小时的按票价10%计，不足24小时的按票价20%计。上述计算的尾数以5角为单位，尾数小于2.5角的舍去、2.5角以上且小于7.5角的计为5角、7.5角以上的进为1元；最低按2元计收。
		</p>
  	</div>
  </div>
  <div data-role="footer" class="footer_bar" data-position="fixed" data-tap-toggle="false" data-id="navBar">
   	<div data-role="navbar" class="f_nav">
      <ul>
        <li><a id="bookTicketTab" data-iconshadow="false">车票预订</a></li>
        <li><a id="queryOrderTab" class="ui-btn-active ui-state-persist" data-iconshadow="false">订单查询</a></li>
        <li><a id="moreOptionsTab" data-iconshadow="false">我的12306</a><div class="circle" style="display:none;"></div></li>
      </ul>
    </div>
 </div>
</div>