<div id="registView" data-role="page" data-dom-cache="true">
	<div data-role="header" data-position="fixed" data-tap-toggle="false">
		<a id="registBackBtn" data-role="button" data-shadow="false"><span id="registBackValue"></span></a>
		<h1>注册</h1>
	</div>

	<div data-role="content" data-iscroll='{"useTransform":false}'>
		<div></div>
		<fieldset class="hasLegend">
			<legend>基本信息</legend>
			<div class="departlongline"></div>
			<div data-role="fieldcontain" class="departshortline">
				<label for="register_user_name">用&nbsp;&nbsp;户&nbsp;&nbsp;名</label> 
				<div class="pencil-input">
					<input id="regist_user_name" type="text" placeholder="字母、数字或“_”，6-30位"/>
				</div>
			</div>

			<div data-role="fieldcontain" class="departshortline">
				<label>密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码</label>
				<div class="pencil-input">
				<input id="regist_passwd" type="password" placeholder="不少于6位"/>
				</div>
			</div>

			<div data-role="fieldcontain" class="departshortline">
				<label>密码确认</label> 
				<div class="pencil-input">
				<input id="regist_confirmPasswd" type="password" placeholder="请再次输入密码"/>
				</div>
			</div>
		</fieldset>

		<fieldset class="hasLegend">
			<legend>详细信息</legend>
			<div class="departlongline"></div>
			<div data-role="fieldcontain" class="departshortline">
				<label>姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名</label> 
				<div class="pencil-input">
				<input id="regist_name" type="text" placeholder="请输入真实姓名,以便购票"/>
				</div>
			</div>

			<div id="registSexDiv" data-role="fieldcontain" class="departshortline" style="display:none;">
				<label class="selectLabel">性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别</label> 
				<select id="regist_sex" name="性别" data-iconshadow="false" data-icon="none">
					<option value="M">男</option>
					<option value="F">女</option>
				</select>
			</div>

			<div id="registBornDateShowDiv" data-role="fieldcontain" class="departshortline" style="display:none;">
				<label >出生日期</label> 
				<div class="pencil-input">
				<input name="lang1" type="text"  id="regist_bornDateShow" readonly="readonly"/>
				</div>
			</div>

			<div id="registCountryDiv" data-role="fieldcontain" class="departshortline" style="display:none;">
				<label class="arrow-right-common-label">国家地区</label> 
				<div class="pencil-input arrow-right-common">
					<input id="regist_country" name="国家地区" type="text" readonly="readonly" class="right-arrow-input"/>
					<input id="regist_country_code" type="hidden"/>
				</div>
			</div>

			<div data-role="fieldcontain" class="departshortline">
				<label class="selectLabel">证件类型</label> 
				<select id="regist_idType" name="证件类型" data-iconshadow="false" data-icon="none">
						<option value="1">二代身份证</option>
						<!-- <option value="2">一代身份证</option> -->
						<option value="C">港澳通行证</option>
						<option value="G">台湾通行证</option>
						<option value="B">护照</option>
						<!--  option value="H">外国人居留证</option -->
				</select>
			</div>

			<div data-role="fieldcontain" class="departshortnoline">
				<label>证件号码</label> 
				<div class="pencil-input">
				<input id="regist_idNo" type="text" placeholder="请准确完整填写"/>
				</div>
			</div>
		</fieldset>

		<fieldset class="hasLegend">
			<legend>联系方式</legend>
			<div class="departlongline"></div>
			<div data-role="fieldcontain" class="departshortline">
				<label>手机号码</label> 
				<div class="pencil-input">
				<input id="regist_mobile" type="tel" placeholder="请准确填写您的手机号"/>
				</div>
			</div>
			<div data-role="fieldcontain" class="departshortline">
				<label>电子邮件</label> 
				<div class="pencil-input">
				<input id="regist_email" type="email" placeholder="请准确填写邮箱地址"/>
				</div>
			</div>
		</fieldset>

		<fieldset class="hasLegend">
			<legend>附加信息</legend>
			<div class="departlongline"></div>
			<div data-role="fieldcontain" class="departshortnoline">
				<label class="selectLabel">旅客类型</label> 
				<select id="regist_userType" name="旅客类型" data-iconshadow="false" data-icon="none">
						<option value="1">成人</option>
						<option value="2">儿童</option>
						<option value="3">学生</option>
						<option value="4">残军</option>
				</select>
			</div>
			<div id="regist_schoolOptions" style="display:none;">
				<div data-role="fieldcontain" class="departshortline">
					<label class="arrow-right-common-label">学校省份</label> 
					<div class="pencil-input arrow-right-common">
					<input id="regist_studentProvince" name="学校省份" type="text" readonly="readonly" class="right-arrow-input"/>
					<input id="regist_studentProvince_code" type="hidden"/>
					</div>
				</div>
				<div data-role="fieldcontain" class="departshortline">
					<label class="arrow-right-common-label">学校名称</label>
					<div class="pencil-input arrow-right-common">
					<input id="regist_studentSchool" name="学校名称" type="text" readonly="readonly" class="right-arrow-input"/>
					<input id="regist_studentSchool_code" type="hidden"/>
					</div>
				</div>
				<div data-role="fieldcontain" class="departshortline">
					<label>院&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;系</label> 
					<div class="pencil-input">
					<input id="regist_studentDepartment" type="text"/>
					</div>
				</div>
				<div data-role="fieldcontain" class="departshortline">
					<label>班&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;级</label> 
					<div class="pencil-input">
					<input id="regist_studentClass" type="text"/>
					</div>
				</div>
				<div data-role="fieldcontain" class="departshortline">
					<label>学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号</label> 
					<div class="pencil-input">
					<input id="regist_studentNo" type="text"/>
					</div>
				</div>
				<div data-role="fieldcontain" class="departshortline">
					<label class="selectLabel">学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;制</label> 
					<select id="regist_studentSystem" name="学制" data-iconshadow="false" data-icon="none">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
					</select>
				</div>
				<div data-role="fieldcontain" class="departshortline">
					<label class="selectLabel">入学年份</label> 
					<div class="pencil-input">
					<select id="regist_studentEnterYear" name="入学年份" data-iconshadow="false" data-icon="none">
        					<option value=""></option>
       				</select>
       				</div>
				</div>
				<div data-role="fieldcontain" class="departshortline">
					<label>优惠卡号</label> 
					<div class="pencil-input">
					<input id="regist_preferenceCardNo" type="text"/>
					</div>
				</div>
				<div data-role="fieldcontain" class="departshortline">
					<label class="arrow-right-common-label">优惠区间</label> 
					<div class="pencil-input arrow-right-common">
					<input id="regist_preferenceFromStation"
						type="text" class="right-arrow-input" readonly="readonly" class="right-arrow-input"/>
					<input id="regist_preferenceFromStation_code" type="hidden"/>
					</div>
				</div>
				<div data-role="fieldcontain" class="departshortnoline">
					<label class="arrow-right-common-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;至</label>
					<div class="pencil-input arrow-right-common">
					 <input id="regist_preferenceToStation" type="text" readonly="readonly" class="right-arrow-input"/>
					<input id="regist_preferenceToStation_code" type="hidden"/>
					</div>
				</div>
			</div>
		</fieldset>
		<div id="registAgreeIssue" class="reg_b">
			<span class="chk_outSpan">
			<input id="agreeChkbox" type="checkbox" data-role="none" checked="checked"/>
			<span></span>
			</span> 
			<label for="agreeChkbox">同意</label>
			<a href="serviceMessage.html">服务条款</a>
		</div>
		<div class="div_bigBtn">
			<a id="registBtn" data-role="button" data-prefetch> 下一步 </a>
		</div>
		<div></div>
	</div>

	<div data-role="footer" class="footer_bar" data-position="fixed" data-tap-toggle="false" data-id="navBar">
	   	<div data-role="navbar" class="f_nav">
	      <ul>
	        <li><a id="bookTicketTab" data-iconshadow="false">车票预订</a></li>
	        <li><a id="queryOrderTab" data-iconshadow="false">订单查询</a></li>
	        <li><a id="moreOptionsTab" data-iconshadow="false" class="ui-btn-active ui-state-persist">我的12306</a><div class="circle" style="display:none;"></div></li>
	      </ul>
	    </div>
  	</div>
</div>

