<div id="reportTicketView" data-role="page">
	<div data-role="header" data-position="fixed" data-tap-toggle="false">
		<a id="reprotTicketBackBtn" data-role="button" data-shadow="false"></a>
		<h1>告知确认书</h1>
	</div>
	<div data-role="content" data-iscroll>
		<div class="departlongline"><!-- Do not delete, To prevent margin collapse, make iscroll to work right --></div>
		<fieldset class="hasLegend">
		  <legend>举报信息</legend>
		  <div class="departlongline"></div>
			<div data-role="fieldcontain" class="departshortline">
				<label style="width:35%;text-align:left;">举报人姓名</label>
				<div id="reportName" class="labelRightDiv"></div>
			</div>
			<div data-role="fieldcontain" class="departshortline">
				<label style="width:35%;text-align:left;">身份证件号码</label>
				<div id="reportIdNo" class="labelRightDiv"></div>
			</div>
			<div data-role="fieldcontain" class="departshortline">
				<label style="width:35%;text-align:left;">联系电话</label>
				<div id="reportPhoneNo" class="labelRightDiv"></div>
			</div>
			<div id="reportTicketInfoMsg" style="line-height:20px;"></div>
		</fieldset>
		<div class="div_bigBtn"><a id="submitReportTicketBtn" data-role="button">确认举报</a></div>
		<div style="height:10px;"><!-- Do not delete, To prevent margin collapse, make iscroll to work right --></div>
	</div>
</div>

