<div id="searchResultScreenView" data-role="page" data-dom-cache="true">
  <div data-role="header" data-position="fixed" data-tap-toggle="false">
  	<a id="searchResultScreenBackBtn" data-shadow="false" data-role="button"></a>
    <h1>筛选</h1>
    <a id="resultSrceenBtn" data-shadow="false" data-role="button" class="ui-btn-right">完成</a>
  </div>

  <div data-role="content" data-iscroll='{"useTransform":false}'>
  	<div class="moreOptionFieldSetContain departlongline"></div>
  	<fieldset>
  		<div data-role="fieldcontain" class="departshortline">
		    <div id="searchResultScreenHeadersBtnGroup" class="trainHeadersBtnGroup4SearchResult" data-role="controlgroup" data-type="horizontal" data-mini="false">
		    	  <a name="QB" id="searchResultScreenQB" href="#" data-role="button" class="" >全部</a>
			      <a name="D" id="searchResultScreenD" href="#" data-role="button">G/D/C</a>
			      <a name="Z" id="searchResultScreenZ" href="#" data-role="button">Z字头</a>
			      <a name="T" id="searchResultScreenT" href="#" data-role="button">T字头</a>
			      <a name="K" id="searchResultScreenK" href="#" data-role="button">K字头</a>
			      <a name="QT" id="searchResultScreenQT" href="#" data-role="button">其他</a>
			</div>
		</div>
     </fieldset>     
     <fieldset>
		<div data-role="fieldcontain" class="departshortline">
			<div id="fromStationInfo" class="searchResultsFilterTrainHeadersBtnGroup" data-role="controlgroup" data-mini="true">
			</div>
		</div>
	</fieldset>
	<fieldset>
		<div data-role="fieldcontain" class="departshortline">
			<div id="toStationInfo" class="searchResultsFilterTrainHeadersBtnGroup" data-role="controlgroup" data-mini="true">
			</div>
		</div>
	</fieldset>
	<fieldset>
		<div data-role="fieldcontain" class="departshortline">
			<div id="trainSeatType" class="searchResultsFilterTrainSeatTypeBtnGroup" data-role="controlgroup" data-mini="true">
			</div>
			<div id="trainSeatTypeNext" class="searchResultsFilterTrainSeatTypeBtnGroup" data-role="controlgroup" data-mini="true">
			</div>
			<div id="trainSeatTypeEnd" class="searchResultsFilterTrainSeatTypeBtnGroup" data-role="controlgroup" data-mini="true">
			</div>
		</div>
	</fieldset>
	<fieldset>	
		<div data-role="fieldcontain" class="departshortnoline">
			<label class="selectLabel trainFilterlabel">发时</label>
			<select id="SetOutTimeSelect" name="出发时段" data-iconshadow="false"
				data-icon="none">
				<option value="0024">00:00--24:00</option>
				<option value="0006">00:00--06:00</option>
				<option value="0612">06:00--12:00</option>
				<option value="1218">12:00--18:00</option>
				<option value="1824">18:00--24:00</option>
			</select>
			<div class="beginAndEndStationDiv">
			    <a id="beginStation" data-role="button" class="ui-btn ui-link beginAndEndStation">始发</a>
			</div>
		</div>
	</fieldset>
    <fieldset style="padding:0;">
      <div class="departshortline">
      </div>
	</fieldset>
	<fieldset>	
		<div data-role="fieldcontain" class="departshortnoline">
			<label class="selectLabel trainFilterlabel">到时</label>
			<select id="ArriveTimeSelect" name="到达时段" data-iconshadow="false"
				data-icon="none">
				<option value="0024">00:00--24:00</option>
				<option value="0006">00:00--06:00</option>
				<option value="0612">06:00--12:00</option>
				<option value="1218">12:00--18:00</option>
				<option value="1824">18:00--24:00</option>
			</select>
			<div class="beginAndEndStationDiv">
			  <a id="endStation" data-role="button" class="ui-btn ui-link beginAndEndStation">终到</a>
			</div>
		</div>

    </fieldset>
    <fieldset style="padding:2px;">
      <div class="departshortline">
      </div>
	</fieldset>
    <fieldset class="departlongline">	

		<div data-role="fieldcontain" class="departshortnoline">
    		<a id="showTicket" data-role="button" class="ui-btn ui-link onlyTicket">只显示有票车次</a>     
    	</div>
    </fieldset>
    <div class="div_bigBtn2">
				<a id="resetBtn" data-role="button">清&nbsp;空 </a>
			</div>           
  </div>
</div>  