
<div id="searchSingleTicketResultsView" data-role="page">
 <div id="popupBasic-screen"></div>
    <div id="popupBasic">
        <ul data-role="listview">
            <li><div class="div_bigPopupBtn departlongline"><a id="refreshBtn" data-role="button">刷新</a></div></li>
            <li><div class="div_bigPopupBtn departlongline"><a id="resultScreenBtn" data-role="button">筛选</a></div></li>
            <li><div class="div_bigPopupBtn departlongline"><a id="screenShortBtn" data-role="button">保存本地</a></div></li>
            <li><div class="div_bigPopupBtn departlongline"><a id="shareBtn" data-role="button">分享好友</a></div></li>
        </ul>
   </div>
  <div data-role="header" data-position="fixed" data-tap-toggle="false">
	    <a id="searchSingleBackBtn" data-shadow="false" data-role="button"></a>
	    <h1 id="fromToStation" style="margin:0 0; "></h1>
	    <a id="moreBtn" href="#popupBasic"></a> 
	    <div class="top-prompt-contain">
			  <div id="searchSingleResultsPrompt" class="ui-grid-b top-prompt">
			    <div class="ui-block-a">
					<a id="prevDateBtn" style="text-align: center; color: white;">前一天</a>
				</div>
			   <div class="ui-block-b" id="trainDateInputId">
			   		 <input name="chooseDateBtn" type="text"  id="chooseDateBtn" readonly="readonly" />
				</div>
			    <div class="ui-block-c">
			    	<a id="nextDateBtn" style="text-align: center; color: white;">后一天</a>
			    </div>
			  </div>
			  <div class="top-prompt" id="trainCount" style="display:none;background:rgb(230,231,235);"></div>
	  	</div>
  </div>

  <div id="searchSingleTicketResultList_List_content" data-role="content" data-iscroll>
  	<div id="iscroll-pulldown" class="iscroll-pulldown" style="visibility:hidden;">
	    	<span class="iscroll-pull-icon"></span>
            <span class="iscroll-pull-label" data-iscroll-loading-text="加载中..." data-iscroll-pulled-text="释放刷新...">下拉刷新...</span>
	</div>
	<div id="forCopysearchSingleTicketResultsView"><!-- xuyi -->     
    <ul id="searchSingleTicketResultList" class="searchSingleTicketResultList" data-role="listview" style="display:none">
    </ul>
    </div>
  </div>
  <div id="searchSingleTicketResultsViewFooter" data-role="footer" class="footer_bar" data-position="fixed" data-tap-toggle="false"  data-id="navBar">
      <div data-role="navbar" class="f_nav">
      <ul>
        <li>
        	<div class="floatOuter" id="byStartTimeSortTicketResult">
        		<div class="floatInner" id="train_start_time_text"><span style="color:#3289c9">发时</span></div>
        		<div class="floatInner" id="train_start_time_sort_up"></div>
        		<div class="floatInner" id="train_start_time_sort_down"></div>
        	</div>
        </li>
        <li>
        	<div class="floatOuter" id="byLiShiSortTicketResult">
        		<div class="floatInner" id="train_li_shi_text"><span>历时</span></div>
        		<div class="floatInner" id="train_li_shi_sort_up"></div>
        		<div class="floatInner" id="train_li_shi_sort_down"></div>
       		 </div>
        </li>
        <li>
        	<div class="floatOuter" id="byArriveTimeSortTicketResult">
        		<div class="floatInner" id="train_arrive_time_text"><span>到时</span></div>
        		<div class="floatInner" id="train_arrive_time_sort_up"></div>
        		<div class="floatInner" id="train_arrive_time_sort_down"></div>
        	</div>
        </li>
        <li style="height: 48px;" id="priceAndLeftTicketResultBtn">
            <div class="floatOuter">
            <div class="floatInner">
        	<div id="priceTicketResultBtn">票价</div>
        	<div style="width:45px;border-bottom:1px solid #ffffff;-webkit-transform: rotate(130deg);-moz-transform: rotate(130deg);margin-left: 18px;margin-top: 23px;">
        	</div>
        	<div id="leftTicketResultBtn">余票</div>
        	</div>
        	</div>
        </li>
      </ul>
    </div>
    </div>
    </div>