<div id="selectProvinceView" data-role="page">

  <div data-role="header" data-position="fixed" data-tap-toggle="false">
    <a id="selectProvinceBackBtn" class="head-btn-short" data-rel="back" data-role="button"  data-shadow="false"></a>
    <h1>学校省份</h1>
  </div>

  <div data-role="content" style="padding-top: 0px;" data-iscroll='{"useTransform":false}'>
     
    <ul id="provinceList" data-role="listview"  data-filter="true" data-filter-placeholder="搜索" class="filterListView"> </ul>
    
  </div>
</div>