<div id="selectPassengerView" data-role="page" data-dom-cache="true">
	<div data-role="header" data-position="fixed" data-tap-toggle="false">
			<a id="selectPassengerBackBtn" data-shadow="false" data-role="button">取&nbsp;消</a>
			<h1>常用联系人</h1>
	</div>

	<div data-role="content" data-iscroll='{"useTransform":false}'>
		<ul id="passengerList" data-role="listview" data-filter="true" data-filter-placeholder="搜索" class="filterListView">
		</ul>
	</div>

   <div class="slider-nav" id="selectPassenger_slider_nav">
       <ul id="slider_navList">
       </ul>
    </div>
    
	<div data-role="footer" class="footer_bar" data-position="fixed" data-tap-toggle="false" data-id="navBar">
		<div data-role="navbar" class="f_nav">
			<ul>
				<li><a id="bookTicketTab" data-icon="custom" data-iconpos="top" data-iconshadow="false" class="ui-btn-active ui-state-persist">车票预订</a></li>
				<li><a id="queryOrderTab" data-icon="custom" data-iconpos="top" data-iconshadow="false">订单查询</a></li>
				<li><a id="my12306Tab"  data-icon="custom" data-iconpos="top" data-iconshadow="false">我的12306</a><div class="circle" style="display:none;"></div></li>
				<li><a id="moreOptionsTab"  data-icon="custom" data-iconpos="top" data-iconshadow="false">更多功能</a></li>
			</ul>
		</div>
	</div>
</div>