<div id="selectCityView" data-role="page" >
  <div data-role="header" data-tap-toggle="false" data-position="fixed" >
    <a id="selectCityBackBtn" data-role="button" data-rel="back" data-shadow="false"></a>
    <h1>城市选择</h1>
  </div>
  
    <div class="searchDiv" data-iscroll-fixed>
      <input id="searchCityInput" type="search" data-theme="c" placeholder="搜索" />     
    </div> 

  <div data-role="content" id="selectCity_content" data-iscroll>
  	<div class="iscroll-pulldown" id="selectCity_pulldown" style="display:none"></div>
    <ul id="cityList" data-role="listview" class="filterListView" style="margin-top:40px;margin-bottom:40px;"> </ul>
    <div class="iscroll-pullup" id="selectCity_pullup" style="display:none"></div></div>
  <div id="selectCitysliderNav" class="slider-nav">
       <ul><li><a id="AAnchor" href="#A" class="anchor">a</a></li><li><a id="BAnchor" href="#B" class="anchor">b</a></li>
           <li><a id="CAnchor" href="#C" class="anchor">c</a></li><li><a id="DAnchor" href="#D" class="anchor">d</a></li>
           <li><a id="EAnchor" href="#E" class="anchor">e</a></li><li><a id="FAnchor" href="#F" class="anchor">f</a></li>
           <li><a id="GAnchor" href="#G" class="anchor">g</a></li><li><a id="HAnchor" href="#H" class="anchor">h</a></li>
           <li><a id="JAnchor" href="#J" class="anchor">j</a></li><li><a id="KAnchor" href="#K" class="anchor">k</a></li>
           <li><a id="LAnchor" href="#L" class="anchor">l</a></li><li><a id="MAnchor" href="#M" class="anchor">m</a></li>
           <li><a id="NAnchor" href="#N" class="anchor">n</a></li><li><a id="PAnchor" href="#P" class="anchor">p</a></li>
           <li><a id="QAnchor" href="#Q" class="anchor">q</a></li><li><a id="RAnchor" href="#R" class="anchor">r</a></li>
           <li><a id="SAnchor" href="#S" class="anchor">s</a></li><li><a id="TAnchor" href="#T" class="anchor">t</a></li>
           <li><a id="WAnchor" href="#W" class="anchor">w</a></li><li><a id="XAnchor" href="#X" class="anchor">x</a></li>
           <li><a id="YAnchor" href="#Y" class="anchor">y</a></li><li><a id="ZAnchor" href="#Z" class="anchor">z</a></li>
       </ul>
  </div>
  <div data-role="footer" class="footer_bar" data-position="fixed" data-tap-toggle="false" data-id="navBar">
	   	<div data-role="navbar" class="f_nav">
	      <ul>
	        <li><a id="bookTicketTab" data-iconshadow="false">车票预订</a></li>
	        <li><a id="queryOrderTab" data-iconshadow="false">订单查询</a></li>
	        <li><a id="moreOptionsTab" data-iconshadow="false" class="ui-btn-active ui-state-persist">我的12306</a><div class="circle" style="display:none;"></div></li>
	      </ul>
	    </div>
  	</div>
</div>