<div id="selectCountryView" data-role="page">

  <div data-role="header" data-position="fixed" data-tap-toggle="false">
    <a id="selectCountryBackBtn" class="head-btn-short"  data-role="button"  data-shadow="false"></a>
    <h1>国家地区</h1>
  </div>

  <div data-role="content" style="padding-top: 0px;" data-iscroll='{"useTransform":false}'>
    <ul id="countryList" data-role="listview" data-filter="true" data-filter-placeholder="搜索" class="filterListView"> </ul>
  </div>
</div>