<div id="selectUniversityView" data-role="page">

  <div data-role="header" data-position="fixed" data-tap-toggle="false">
    <a id="selectUniversityBackBtn" class="head-btn-short" data-rel="back" data-role="button"  data-shadow="false"></a>
    <h1>学校名称</h1>
  </div>
  
    <div class="searchDiv" data-iscroll-fixed>
      <input style="font-size: 14px;" id="searchUniversityInput" type="search" placeholder="输入6个以上字母或2个以上汉字搜索" data-theme="c" />     
    </div> 

  <div data-role="content" style="padding-top: 0px;" data-iscroll='{"useTransform":false}'>
  	<div class="iscroll-pulldown" style="height:0"></div>
    <ul id="universityList" data-role="listview" class="filterListView"> </ul>
    <div class="iscroll-pullup" style="height:0"></div>
  </div>
</div>