<div id="selectStationView" data-role="page" >
  <div data-role="header" data-tap-toggle="false" data-position="fixed">
    <a id="selectStationBackBtn" data-role="button"  data-shadow="false"></a>
    <h1>车站选择</h1>
  </div>
  
    <div class="searchDiv" data-iscroll-fixed>
      <input id="searchStationInput" type="search" data-theme="c" placeholder="搜索" />     
    </div> 
    
   	<div data-role="controlgroup" class="selectStationBtnGroup"  data-type="horizontal">
     	<a id="oftenTab" href="#" data-role="button" class="btnText ui-btn-active ui-state-persist">最近常用</a>
		<a id="hotStaTab" href="#" data-role="button" class="btnText">热点车站</a>
		<a id="detailTab" href="#" data-role="button" class="btnText first-click">车站列表</a>
	</div>

      
  <div data-role="content" id="selectStation_content" data-iscroll>
     <div class="iscroll-pulldown" id="selectStation_pulldown" style="display:none">
    </div>      
    <ul id="stationList" data-role="listview" class="filterListView"></ul>
     <div class="iscroll-pullup" id="selectStation_pullup" style="display:none">
    </div>   
  </div>
  
  <div id="sliderNav" class="slider-nav" style="display:none;">
       <ul>
       </ul>
    </div>
  
  	<div data-role="footer" class="footer_bar" data-position="fixed" data-tap-toggle="false" data-id="navBar">
	   	<div data-role="navbar" class="f_nav">
	      <ul>
	        <li><a id="bookTicketTab" data-iconshadow="false" class="ui-btn-active ui-state-persist">车票预订</a></li>
	        <li><a id="queryOrderTab" data-iconshadow="false">订单查询</a></li>
	        <li><a id="moreOptionsTab" data-iconshadow="false">我的12306</a><div class="circle" style="display:none;"></div></li>
	      </ul>
	    </div>
  	</div>
</div>