<div id="sendTicketVisitView" data-role="page">
   <div data-role="header" data-position="fixed" data-tap-toggle="false">
	   <a id="sendTicketVisitBackBtn" data-shadow="false" data-role="button"></a>
	   <h1>送票上门</h1>
	   <a id="sendTicketVisitFinishBtn" data-shadow="false" data-role="button">完成</a>
   </div>

  <div data-role="content" data-iscroll>
     <ul id ="sendTicket" data-role="listview" style="display: none;">
	</ul>
	<!--  div class="div_bigBtn">
		<a id="addSendTicketAdress" data-role="button">添加配送信息</a>
	</div>
	-->
	<div class="tips2">
    <h5><span>*</span>送票规则：</h5>
    <p id="confirmOrderTips">
    	1、开车时间为第三日0:00-12:00间的车票，于第二日20:00以前送达；<br/>
		2、开车时间为第三日12:01-24:00间的车票，于开车前5小时送达；<br/>
		3、开车时间为第四日0:00-12:00之间开车的车票，于第三日20:00前送达；<br/>
		4、其他车票，自购票日三日内送达;
	</p>
   </div>
  </div>
  
</div>






