<div id="serviceMsgView" data-role="page">
	<div data-role="header" data-position="fixed" data-tap-toggle="false">
		<a data-rel="back" data-role="button" data-shadow="false"></a>
		<h1>服务条款</h1>
	</div>


	<div data-role="content" data-iscroll>
		<div class="serviceMsgContent">
			<div class="title">欢迎阅读中国铁路客户服务中心 12306 网站(以下简称“本网站”服务条款，其阐述之内容和条件适用于您使用本网站提供的各项服务。</div>
			<div class="item">1、服务条款的确认</div>
			<div class="brief">您点击服务条款页面下的“我同意”按钮，即视为您已阅读、了解并完全同意服务条款中的各项内容，包括本网站对服务条款所作的任何修改。除另行明确声明外，本网站任何服务范围或功能的变化均受服务条款约束。</div>
			<div class="item">2、服务条款的修改</div>
			<div class="brief">本网站在必要时可修改服务条款，并在网站进行公告，一经公告，立即生效。如您继续使用服务，则视为您已接受修订的服务条款。</div>
			<div class="item">3、用户注册</div>
			<div class="brief">考虑到本网站用户服务的重要性，网站购票用户的注册实行实名制，您同意在注册时提供真实、完整及准确的本人资料(包括姓名、性别、国家/地区、证件类型、证件号码、出生日期，以及与身份信息对应的手机号码和邮箱等)，如发生变化请及时更新。 如您提供的资料不准确，或本网站有合理的理由认为该资料不真实、不完整、不准确，本网站有权暂停或终止您的注册身份及资料，并拒绝您使用本网站的服务。</div>
			<div class="item">4、用户资料及保密</div>
			<div class="brief">注册时，请您选择填写用户名和密码，并按页面提示提交相关信息。您负有对用户名和密码保密的义务，并对该用户名和密码下发生的所有活动承担责任。您同意邮件服务的使用由您自己承担风险。本网站不会向您所使用服务所涉及相关方之外的其他方公开或透露您的个人资料，法律法规规定除外。</div>
			<div class="item">5、责任的免除和限制</div>
			<div class="brief">(1)遇以下情况，本网站不承担任何责任，包括但不仅限于： ①因不可抗力、系统故障、通讯故障、网络拥堵、供电系统故障、恶意攻击等造成本网站未能及时、准确、完整地提供服务。 ②无论在任何原因下，您通过使用本网站上的信息或由本网站链接的其他网站上的信息，或其他与本网站链接的网站上的信息所导致的任何损失或损害。  ③在“3.用户注册”第二款情形下，注册用户被暂停使用以及因此导致已购车票不能在本网站改签、退票等后果。</div>
			<div class="brief">(2)本网站负责对本网站上的信息进行审核与更新，但并不就信息的时效性、准确性以及服务功能的完整性和可靠性承担任何义务和赔偿责任。</div>
			<div class="brief">(3)如用户利用系统差错、故障或其他原因导致的漏洞，损害本网站及任何第三方的权益，本网站将终止该用户资格，并保留法律追究的权利。</div>
			<div class="brief">(4)如果本网站发现有影响用户信息安全的行为，本网站有权对用户信息实施保护。必要时用户需经重新验证身份后方可继续使用。</div>
			<div class="item">6、拒绝提供担保</div>
			<div class="brief">本网站对以下情形不做任何担保，包括但不仅限于：</div>
			<div class="brief">(1)服务一定能满足您的要求。</div>
			<div class="brief">(2)服务不会受中断。</div>
			<div class="brief">(3)服务的安全性、及时性、完整性和准确性。</div>
			<div class="brief">(4)服务所涉及相关方的服务。</div>
			<div class="brief">(5)您从本网站收到口头或书面的意见或信息。</div>
			<div class="item">7、网站链接</div>
			<div class="brief">本网站包含有链接的第三方网站。这些链接纯粹为用户提供方便。本网站无法就所链接的第三方网站的内容或可用性予以控制或对其负责。如果您决定访问任何与本网站相链接的第三方网站，则应完全自行承担相应风险和责任。</div>
			<div class="item">8、保障</div>
			<div class="brief">您同意保障和维护本网站的利益，并承担您或其他人使用您的用户资料造成本网站或任何第三方的损失或损害的赔偿责任。</div>
			<div class="item">9、知识产权</div>
			<div class="brief">本网站所有内容和资源的版权归本网站所有(除非本网站已经标明版权所有人)，页面所有信息受《中华人民共和国著作权法》及相关法律法规和中国加入的所有知识产权方面的国际条约的保护。未经本网站事先的书面许可，任何单位和个人不得就本网站上的相关资源以任何方式、任何文字做全部或局部复制、修改、发送、储存、发布、交流或分发，或利用本网站上的相关资源创建其他商业用途的资源。否则本网站将追究其法律责任。</div>
			<div class="item">10、法律适用和管辖</div>
			<div class="brief">本服务条款之效力、解释、变更、执行与争议解决均适用中华人民共和国法律。 因您使用本网站而导致的争议，您同意接受本网站注册地人民法院的管辖。 本网站享有对服务条款的最终解释与修改权。</div>
		</div>
	</div>


	<div data-role="footer" class="footer_bar" data-position="fixed" data-tap-toggle="false" data-id="navBar">
	   	<div data-role="navbar" class="f_nav">
	      <ul>
	        <li><a id="bookTicketTab" data-iconshadow="false">车票预订</a></li>
	        <li><a id="queryOrderTab" data-iconshadow="false">订单查询</a></li>
	        <li><a id="moreOptionsTab" data-iconshadow="false" class="ui-btn-active ui-state-persist">我的12306</a><div class="circle" style="display:none;"></div></li>
	      </ul>
	    </div>
  	</div>

</div>