<div id="settingsView" data-role="page">
	<div data-role="header" data-position="fixed" data-tap-toggle="false">
		<a id="settingsBackBtn" data-role="button" data-shadow="false"></a>
		<h1>设置</h1>
	</div>


	<div data-role="content" data-iscroll='{"useTransform":false}'>
		<div></div>
		<div class="queryOrderTips">
			<span>您可以设置以下缺省信息</span>
		</div>
		<fieldset style="padding:0px;">
		    <div class="departlongline"></div>
			<div data-role="fieldcontain" class="departshortline">
				<label class="arrow-right-common-label">出&nbsp;&nbsp;发&nbsp;&nbsp;地</label>
				<div class="pencil-input arrow-right-common">
					<input id="setting_from_station" type="text" class="right-arrow-input" readonly="readonly"/>
				</div>
			</div>
			<div data-role="fieldcontain" class="departshortline"> 
				<label class="arrow-right-common-label">目&nbsp;&nbsp;的&nbsp;&nbsp;地</label> 
				<div class="pencil-input arrow-right-common">
					<input id="setting_to_station" type="text" class="right-arrow-input" readonly="readonly"/>
				</div>
			</div>
			<div data-role="fieldcontain" class="departshortnoline">
				<label class="selectLabel">出发日期</label> 
				<select name="出发日期" id="setting_train_date" data-iconshadow="false" data-icon="none">
					<option value="0">当天</option>
					<option value="1" selected>第二天</option>
					<option value="2">第三天</option>
					<option value="3">第四天</option>
				</select>
			</div>
			<div class="departlongline"></div>
		</fieldset>

		<div class="tips" style="display: none;">
			<span>推送设置</span>
		</div>
		
		<fieldset style="padding:0px;display: none;" >			
			<div class="departlongline"></div>
			<div class="ui-field-contain" style="background-color:#fff;">
				<label for="pushAlarm">开启推送</label>
				<select name="switch" id="pushAlarm" data-role="slider" data-mini="true" data-corners="true" data-inline="true">
						<option value="off">已关</option>
						<option value="on" selected>已开</option>
				</select>
				<div class="departshortline"></div>
			</div>
			<div style="background-color:#fff;">
				<a href="noticeBook.html" class="a_btn departshortline arrow-right">通知类型</a>
			</div>		
			<div class="ui-field-contain" style="background-color:#fff;">
				<label for="slientArea">安静时段</label>
				<select name="switch" id="slientArea" data-role="slider" data-mini="true">
						<option value="off">已关</option>
						<option value="on" selected>已开</option>
				</select>
				<div class="departshortline"></div>
			</div>
			<div id="silentAreaSetting" style="background-color:#fff;">
				<a href="#" class="a_btn arrow-right">从23:00到08:00</a>
			</div>
			<div class="departlongline"></div>
		</fieldset>
	
	</div>


	<div data-role="footer" class="footer_bar" data-position="fixed" data-tap-toggle="false" data-id="navBar">
	   	<div data-role="navbar" class="f_nav">
	      <ul>
	        <li><a id="bookTicketTab" data-iconshadow="false">车票预订</a></li>
	        <li><a id="queryOrderTab" data-iconshadow="false">订单查询</a></li>
	        <li><a id="moreOptionsTab" data-iconshadow="false" class="ui-btn-active ui-state-persist">我的12306</a><div class="circle" style="display:none;"></div></li>
	      </ul>
	    </div>
  	</div>

</div>