
 <div id="startSellTicketTimeQueryView" data-role="page" data-dom-cache="true">
 
  <div data-role="header" data-position="fixed" data-tap-toggle="false">
   <a id="startSellTicketTimeQueryBackBtn" data-shadow="false" data-role="button"></a>
    <h1>起售时间查询</h1>
  </div>

  <div data-role="content" data-iscroll='{"useTransform":false}'>
    <fieldset class="moreOptionFieldSetContain departlongline">
      <div data-role="fieldcontain" style="background-color:#fff;">
      	<div class="departlongline"></div>
        <label class="arrow-right-common-label">车&nbsp;&nbsp;站</label>
        <div class="pencil-input arrow-right-common">
       		<input id="startSellTicketTimeQueryStationName" placeholder="点击选择车站" type="text" class="right-arrow-input" maxlength="5"/>
      	</div>
      </div>
    </fieldset>
   <div class="div_bigBtn">
		<a id="startSellTicketTimeQueryBtn" data-role="button">查&nbsp;询 </a>
	</div>
	<div id="sellTicketTimeList"></div>
   	<div id="startSellTicketTimeQueryTips">
  		<span class="tipsClass">温馨提示:</span><br>
  		<!--  span>1.全国高铁动车组车票C、D字头列车起售时间为11:00.</span><br>
  		<span>2.G字头列车起售时间为14:00.</span><br><br-->
   	</div>
   </div>
   <div data-role="footer" class="footer_bar" data-position="fixed" data-tap-toggle="false" data-id="navBar">
	   	<div data-role="navbar" class="f_nav">
	      <ul>
	        <li><a id="bookTicketTab" data-iconshadow="false">车票预订</a></li>
	        <li><a id="queryOrderTab" data-iconshadow="false">订单查询</a></li>
	        <li><a id="moreOptionsTab" data-iconshadow="false" class="ui-btn-active ui-state-persist">我的12306</a><div class="circle" style="display:none;"></div></li>
	      </ul>
	    </div>
  	</div>
  </div>
 