
 <div id="stationTrainQueryView" data-role="page">
 
  <div data-role="header" data-position="fixed" data-tap-toggle="false">
   <a id="stationTrainQueryBackBtn" data-shadow="false" data-role="button"></a>
    <h1>车站车次查询</h1>
  </div>

  <div data-role="content" data-iscroll='{"useTransform":false}'>
    <fieldset class="moreOptionFieldSetContain">
      <div data-role="fieldcontain" class="departlongline">
      <div class="departlongline"></div>
        <label class="arrow-right-common-label">车&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;站</label>
        <div class="pencil-input arrow-right-common">
        	<input id="stationTrainstationInput" type="text" placeholder="点击选择车站" class="right-arrow-input" maxlength="5" style="text-transform: uppercase;"/>
      	</div>
      </div>
      <div class="departlongline" data-role="fieldcontain">
        <label class="selectLabel">日&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;期</label>
        <div class="pencil-input">
			<input id="stationTrainQueryDateInput" name="stationTrainQueryDateInput" readonly>
		</div>
      </div>
       <div class="departlongline" data-role="fieldcontain">
        <label class="selectLabel">出发时段</label>
       	<select id="trainStartTime" data-icon="none" data-iconshadow="false" style="border: 0px;">
       		<option value="0000--2400">00:00--24:00</option>
          	<option value="0000--0600">00:00--06:00</option>
         	<option value="0600--1200">06:00--12:00</option>
          	<option value="1200--1800">12:00--18:00</option>
          	<option value="1800--2400">18:00--24:00</option>
       	</select>
      </div>
       <div class="departlongline" data-role="fieldcontain">
        <label class="selectLabel">到达时段</label>
       	<select id="trainEndTime" data-icon="none" data-iconshadow="false" style="border: 0px;">
       		<option value="0000--2400">00:00--24:00</option>
          	<option value="0000--0600">00:00--06:00</option>
         	<option value="0600--1200">06:00--12:00</option>
          	<option value="1200--1800">12:00--18:00</option>
          	<option value="1800--2400">18:00--24:00</option>
       	</select>
      </div>
      </fieldset>
      <fieldset class="Trains departlongline" id="selectStationTrainType">
		    <div id="stationTrainHeadersBtnGroup" data-role="controlgroup" class="trainHeadersBtnGroup" data-type="horizontal" data-mini="true">
		   	    <a id="stationQB" name="QB" href="#" data-role="button" data-theme="c" class="ui-btn-active ui-state-persist">全部</a>
		      	<a id="stationD" name="GDC" href="#" data-role="button" data-theme="c">G/D/C</a>
		      	<a id="stationZ" name="Z" href="#" data-role="button" data-theme="c">Z字头</a>
		      	<a id="stationT" name="T" href="#" data-role="button" data-theme="c">T字头</a>
		      	<a id="stationK" name="K" href="#" data-role="button" data-theme="c">K字头</a>
		      	<a id="stationQT" name="QT" href="#" data-role="button" data-theme="c">其他</a>
		 	</div>
 	  </fieldset>	
    
   <div class="div_bigBtn">
		<a id="stationTrainQueryBtn" data-role="button">查&nbsp;询 </a>
	</div>
  </div>
  <div data-role="footer" class="footer_bar" data-position="fixed" data-tap-toggle="false" data-id="navBar">
	   	<div data-role="navbar" class="f_nav">
	      <ul>
	        <li><a id="bookTicketTab" data-iconshadow="false">车票预订</a></li>
	        <li><a id="queryOrderTab" data-iconshadow="false">订单查询</a></li>
	        <li><a id="moreOptionsTab" data-iconshadow="false" class="ui-btn-active ui-state-persist">我的12306</a><div class="circle" style="display:none;"></div></li>
	      </ul>
	    </div>
  	</div>
</div>
