<div id="stationSetView" data-role="page" style="padding-top:0px!important;">
  <div data-role="header" data-tap-toggle="false">
    <a  id="StaticBackBtn" data-role="button"  data-shadow="false"></a>
    <h1>车站选择</h1>
  </div>
  
    <div class="searchDiv" data-iscroll-fixed>
      <input id="searchStationSetInput" type="search" placeholder="搜索" data-theme="c" />     
    </div> 

  <div data-role="content" id="selectStation_content" data-iscroll>
  <div class="iscroll-pulldown" id="selectStation_pulldown" style="height:0px;">
    </div>
    
    <input type="hidden" id="pingyinSet" name="pingyin" value=""/>        
      
    <ul id="stationSetList" data-role="listview" class="filterListView"></ul>
      <div class="iscroll-pullup" id="selectStation_pullup" style="height:0px;">
    </div>  
         
    
  </div>
  
  <div id="sliderSetNav" class="slider-nav" >
       <ul>
       </ul>
    </div>
    
    
    
  <div data-role="footer" class="footer_bar" data-position="fixed" data-tap-toggle="false" data-id="navBar">
	   	<div data-role="navbar" class="f_nav">
	      <ul>
	        <li><a id="bookTicketTab" data-iconshadow="false">车票预订</a></li>
	        <li><a id="queryOrderTab" data-iconshadow="false">订单查询</a></li>
	        <li><a id="moreOptionsTab" data-iconshadow="false" class="ui-btn-active ui-state-persist">我的12306</a><div class="circle" style="display:none;"></div></li>
	      </ul>
	    </div>
  	</div>
</div>