<div id="stationTrainQueryResultsView" data-role="page">
  <div data-role="header" data-position="fixed" data-tap-toggle="false">
	    <a id="stationTrainQueryResultsBackBtn" data-shadow="false" data-role="button"></a>
	    <h1>车站车次查询</h1>
	    <div class="top-prompt-contain">
			  <div id="stationTrainQueryResultsPrompt" class="ui-grid-b top-prompt">
			     <div class="ui-block-a">
					<a id="prevDateBtn" style="text-align: center; color: white;">前一天</a>
				</div>
				 <div class="ui-block-b" id="stationTrainDateInputId">
			   		<input name="stationTrainChooseDateBtn" type="text"  id="stationTrainChooseDateBtn" readonly="readonly" />
				</div>
			    <div class="ui-block-c">
			    	<a id="nextDateBtn" style="text-align: center; color: white;">后一天</a>
			    </div>
			  </div>
	  	</div>
  </div>
  <div data-role="content" class="bottom-space" data-iscroll='{"useTransform":false}'>
    <ul id="stationTrainQueryResultList" class="stationTrainQueryResultList" data-role="listview" style="display:none">
    </ul>
  	<div id ="img1" >
  	</div>
  	
  </div>
  <div data-role="footer" class="footer_bar" data-position="fixed" data-tap-toggle="false" data-id="navBar">
		<div data-role="navbar" class="f_nav">
			<ul>
				<li><a id="bookTicketTab"
					 data-iconshadow="false">车票预订</a></li>
				<li><a id="queryOrderTab" data-iconshadow="false">订单查询</a></li>
				<li><a id="moreOptionsTab" data-iconshadow="false" class="ui-btn-active ui-state-persist">我的12306</a><div class="circle" style="display:none;"></div></li>
			</ul>
		</div>
	</div>
</div>