<div id="suggestionView" data-role="page" data-dom-cache="true">
    <div data-role="header" data-position="fixed" data-tap-toggle="false">
        <a id="suggestionBackBtn" data-role="button" data-shadow="false">更多功能</a>
        <h1>意见反馈</h1>
        <a id="suggestionBtn" data-icon="">完成</a>
    </div>


    <div data-role="content" data-iscroll='{"useTransform":false}'>
    <fieldset class="suggestionOut">
        <div data-role="fieldcontain">
            <label>用&nbsp;&nbsp;户&nbsp;&nbsp;名</label>
            <div class="pencil-input" style='background-image:none;border-radius: 0;'>
            <input id="suggest_username" type="text" placeholder=""/>
            </div>
        </div>
       
        <div data-role="fieldcontain" class="hasMust" style="display:none;">
            <label for="suggest_email">电子邮件</label> 
            <div class="pencil-input">
            <input id="suggest_email" type="email" placeholder="请输入电子邮件"/>
            </div>
        </div>
        <div data-role="fieldcontain" class="hasMust" style="display:none;">
            <label for="suggest_mobile">电&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;话</label> 
            <div class="pencil-input">
            <input id="suggest_mobile" type="tel" placeholder="请输入电话"/>
            </div>
        </div>
        <div data-role="fieldcontain" class="hasMust" style="display:none;">
            <label for="suggest_name">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名</label> 
            <div class="pencil-input">
            <input id="suggest_name" type="text" placeholder="请输入姓名"/>
            </div>
        </div>
    </fieldset>
    <div class="suggestionOut">
        <div class="tips">感谢您使用本应用，欢迎您提出宝贵的意见与建议：</div>
        <textarea placeholder="请输入您的意见与反馈信息" id="suggestion" data-role="none"
         class="ui-input-text ui-body-b ui-corner-all ui-shadow-inset"></textarea>
     </div>
    </div>


    <div data-role="footer" class="footer_bar" data-position="fixed" data-tap-toggle="false" data-id="navBar">
        <div data-role="navbar" class="f_nav">
            <ul>
                <li><a id="bookTicketTab" data-icon="custom" data-iconshadow="false" data-iconpos="top">车票预订</a></li>
                <li><a id="queryOrderTab" data-icon="custom" data-iconshadow="false" data-iconpos="top">订单查询</a></li>
                <li><a id="my12306Tab"  data-icon="custom" data-iconshadow="false" data-iconpos="top">我的12306</a><div class="circle" style="display:none;"></div></li>
                <li><a id="moreOptionsTab" data-icon="custom" data-iconshadow="false" class="ui-btn-active ui-state-persist" data-iconpos="top">更多功能</a></li>
            </ul>
        </div>
    </div>

</div>