<div id="ticketPriceQueryView" data-role="page">
  <div data-role="header" data-position="fixed" data-tap-toggle="false">
  	 <a id="ticketPriceQueryBackBtn" data-shadow="false" data-role="button"></a>
    <h1>票价查询</h1>
  </div>

  <div data-role="content" data-iscroll='{"useTransform":false}'>
    <fieldset id="ticketPriceQueryInfo" class="ticketPriceQuery goInfo">
  		<div data-role="fieldcontain" class="fromToStation" id="fromToStationes" >
   			<input id="ticketPriceQueryFromStationInput" type="text" readonly class="right-arrow-input"/>
       		<a id="ticketPriceQueryChangeSeat" class="changeSeat a_btn" data-role="button"></a>
      		<input id="ticketPriceQueryToStationInput" type="text" readonly class="right-arrow-input"/>
  	 	</div>
  	 	<div class="separateline"></div>
        <div data-role="fieldcontain">
        	<label>出发日期</label>
       		<div class="pencil-input">
				<input id="ticketPriceQueryDateInput" name="ticketPriceQueryDateInput" readonly>
			</div>
        </div>
        <div data-role="fieldcontain">
        	<label class="selectLabel">出发时间</label>
        	<select id="ticketPriceQueryTimePeriodSelect" name="出发时间" class="right-arrow-input" data-iconshadow="false" data-icon="none">
         		<option value="0">00:00--24:00</option>
         		<option value="1">00:00--06:00</option>
        		<option value="2">06:00--12:00</option>
         		<option value="3">12:00--18:00</option>
         		<option value="4">18:00--24:00</option>
         	</select>
        </div>
        <div class="separateline"></div>
    </fieldset>
    <fieldset id="ticketPriceQuerySelectTrainType">
	    <div id="ticketPriceQueryHeadersBtnGroup" class="trainHeadersBtnGroup" data-role="controlgroup" data-type="horizontal" data-mini="true">
	    	  <a name="QB" id="ticketPriceQueryQB" href="#" data-role="button" class="ui-btn-active ui-state-persist" >全部</a>
		      <a name="D" id="ticketPriceQueryD" href="#" data-role="button">G/D/C</a>
		      <a name="Z" id="ticketPriceQueryZ" href="#" data-role="button">Z字头</a>
		      <a name="T" id="ticketPriceQueryT" href="#" data-role="button">T字头</a>
		      <a name="K" id="ticketPriceQueryK" href="#" data-role="button">K字头</a>
		      <a name="QT" id="ticketPriceQueryQT" href="#" data-role="button">其他</a>
		</div>
     </fieldset>

	 <div class="div_bigBtn">
		<a id="ticketPriceQueryBtn" data-role="button">查&nbsp;询 </a>
	 </div>	            
  </div>
  <div data-role="footer" class="footer_bar" data-position="fixed" data-tap-toggle="false" data-id="navBar">
	   	<div data-role="navbar" class="f_nav">
	      <ul>
	        <li><a id="bookTicketTab" data-iconshadow="false">车票预订</a></li>
	        <li><a id="queryOrderTab" data-iconshadow="false">订单查询</a></li>
	        <li><a id="moreOptionsTab" data-iconshadow="false" class="ui-btn-active ui-state-persist">我的12306</a><div class="circle" style="display:none;"></div></li>
	      </ul>
	    </div>
  </div>
</div>  