<div id="ticketDetailsView" data-role="page">
	<div data-role="header" data-position="fixed" data-tap-toggle="false">
	    <a id="ticketDetailsBackBtn" data-rel="back" data-role="button" data-shadow="false">查询结果</a>
	    <h1>车次详情</h1>
	    <div class="top-prompt-contain">
			<div id="ticketDetailsPrompt" class="top-prompt"></div>
		</div>
	</div>
	
	<div data-role="content" data-iscroll>
		<div class="ui-grid-b detailsGrid">
			<div id="fromStationDetail" class="ui-block-a">
				<div id="fromStationName" class="stationName"></div>
				<div id="trainStartTime" class="trainStartTime"></div>
			</div>
			<div id="trainMiscDetail" class="ui-block-b">
				<div id="trainCodeName" class="trainCodeName"></div>
				<div id="trainDetailArrow" class="trainDetailArrow"></div>
				<div id="trainDurationTime" class="trainDurationTime"></div>
			</div>
			<div id="toStationDetail" class="ui-block-c">
				<div id="toStationName" class="stationName"></div>
				<div id="trainReachTime" class="trainReachTime"></div>
			</div>
		</div>
		<div id="seatDetailsGrid" class="detailsGrid">
			<ul id="seatDetailsGridUl">
			</ul>
		</div>
		
		<div class="content-space"><h5>以上余票信息随时发生变化，仅供参考。</h5></div>
		<div class="div_bigBtn2"><a data-rel="back" data-role="button" data-prefetch>重选车次</a></div>
		<div class="div_bigBtn"><a id="addPassengerButton"  data-role="button" data-prefetch>添加乘车人信息</a></div>
	</div>
	
	<div data-role="footer" class="footer_bar" data-position="fixed" data-tap-toggle="false" data-id="navBar">
       <div data-role="navbar" class="f_nav">
			<ul>
				<li><a id="bookTicketTab"  data-icon="custom" data-iconshadow="false" data-iconpos="top" class="ui-btn-active ui-state-persist">车票预订</a></li>
				<li><a id="queryOrderTab"  data-icon="custom" data-iconshadow="false"	data-iconpos="top">订单查询</a></li>
				<li><a id="my12306Tab"  data-icon="custom" data-iconshadow="false" data-iconpos="top">我的12306</a><div class="circle" style="display:none;"></div></li>
				<li><a id="moreOptionsTab"  data-icon="custom" data-iconshadow="false" data-iconpos="top">更多功能</a></li>
			</ul>
		</div>
	</div>
</div>