<div id="trainQueryResultsView" data-role="page">
  <div data-role="header" data-position="fixed" data-tap-toggle="false">
	    <a id="trainQueryResultsBackBtn" data-shadow="false" data-role="button"></a>
	    <h1>车次查询</h1>
	    <div class="top-prompt-contain">
			  <div id="trainQueryResultsPrompt" class="ui-grid-b top-prompt">
			    <div class="ui-block-a">
					<a id="trainQueryPrevDateBtn" style="text-align: center; color: white;">前一天</a>
				</div>
			    <div class="ui-block-b" id="trainQueryResultInputId">
			   		<input name="trainQueryChooseDateBtn" type="text"  id="trainQueryChooseDateBtn" readonly="readonly" />
				</div>
			    <div class="ui-block-c">
			    	<a id="trainQueryNextDateBtn" style="text-align: center; color: white;">后一天</a>
			    </div>
			  </div>
	  	</div>
  </div>
  <div data-role="content" class="bottom-space" data-iscroll='{"useTransform":false}'>
  	<div class="ui-grid-b detailsGrid" id="trainTicketDetail" style="display:none;">
			<div id="fromStationDetail_tq" class="ui-block-a">
				<div id="fromStationName_tq" class="stationName"></div>
				<div id="trainStartTime_tq" class="trainStartTime"></div>
			</div>
			<div id="trainMiscDetail_tq" class="ui-block-b">
				<div id="trainCodeName_tq" class="trainCodeName"></div>
				<div id="trainDetailArrow_tq" class="trainDetailArrow" ></div>
				<div id="trainDurationTime_tq" class="trainDurationTime" style="margin-top:-5px;"></div>
			</div>
			<div id="toStationDetail_tq" class="ui-block-c">
				<div id="toStationName_tq" class="stationName"></div>
				<div id="trainReachTime_tq" class="trainReachTime"></div>
			</div>
	</div>
    <div id="trainQueryStopStationList" style="display:none">
    </div>
  </div>
  <div data-role="footer" class="footer_bar" data-position="fixed" data-tap-toggle="false" data-id="navBar">
	   	<div data-role="navbar" class="f_nav">
	      <ul>
	        <li><a id="bookTicketTab" data-iconshadow="false">车票预订</a></li>
	        <li><a id="queryOrderTab" data-iconshadow="false">订单查询</a></li>
	        <li><a id="moreOptionsTab" data-iconshadow="false" class="ui-btn-active ui-state-persist">我的12306</a><div class="circle" style="display:none;"></div></li>
	      </ul>
	    </div>
  </div>
</div>