
 <div id="trainQueryView" data-role="page">
 
  <div data-role="header" data-position="fixed" data-tap-toggle="false">
   <a id="trainQueryBackBtn" data-shadow="false" data-role="button"></a>
    <h1>车次查询</h1>
  </div>

  <div data-role="content" data-iscroll='{"useTransform":false}'>
    <fieldset id="trainQueryInfo" class="moreOptionFieldSetContain">
      <div data-role="fieldcontain" class="departlongline">
      	<div class="departlongline"></div>
        <label>车&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;次</label>
        <div class="pencil-input">
        	 <input id="trainQueryTrainInput" type="text" placeholder="输入车次" class="right-arrow-input" maxlength="5" style="text-transform: uppercase;"/>
        </div>
      </div>
     <div class="departlongline" data-role="fieldcontain">
        <label>出发日期</label>
        <div class="pencil-input">
			<input id="trainQueryTrainDateInput" name="trainQueryTrainDateInput" readonly>
		</div>
      </div>
    </fieldset>
   <div class="div_bigBtn">
		<a id="trainQueryBtn" data-role="button">查&nbsp;询 </a>
	</div>
  </div>
  <div data-role="footer" class="footer_bar" data-position="fixed" data-tap-toggle="false" data-id="navBar">
	   	<div data-role="navbar" class="f_nav">
	      <ul>
	        <li><a id="bookTicketTab" data-iconshadow="false">车票预订</a></li>
	        <li><a id="queryOrderTab" data-iconshadow="false">订单查询</a></li>
	        <li><a id="moreOptionsTab" data-iconshadow="false" class="ui-btn-active ui-state-persist">我的12306</a><div class="circle" style="display:none;"></div></li>
	      </ul>
	    </div>
  </div>
</div>