<div id="travelPlanDetailView" data-role="page">
	<div data-role="header" data-position="fixed" data-tap-toggle="false">
		<a id="travelPlanViewBackBtn" data-role="button" data-shadow="false"></a>
		<h1 id="travelPlanHeader">出行计划</h1>		
		<a id="deletePlanBtn" data-shadow="false" data-role="button" class="ui-btn-right">删除</a>
	</div>
	<div data-role="content" data-iscroll>
		<ul id="travelPlanListView" class="finishedOrderDetail" data-role="listview" data-theme="c" >
    	</ul>       
	</div>
	<div data-role="footer" class="footer_bar" data-position="fixed" data-tap-toggle="false" data-id="navBar">
	   	<div data-role="navbar" class="f_nav">
	      <ul>
	        <li><a id="bookTicketTab"  class="ui-btn-active ui-state-persist" data-iconshadow="false">车票预订</a></li>
	        <li><a id="queryOrderTab"  data-iconshadow="false">订单查询</a></li>
	        <li><a id="moreOptionsTab" data-iconshadow="false">我的12306</a><div class="circle" style="display:none;"></div></li>
	      </ul>
	    </div>
 	</div>
</div>
