<div id="updateUserEmailView" data-role="page" data-dom-cache="true">
	<div data-role="header" data-position="fixed" data-tap-toggle="false">
		<a data-role="button" id="updateUserEmailBackBtn" class="my12306Btn" data-shadow="false"></a>
		<h1 id="headerTitle">邮箱修改</h1>
	</div>
	<div data-role="content" data-iscroll='{"useTransform":false}'>
		<fieldset class="moreOptionFieldSetContain">
			<div class="departlongline"></div>
			<div data-role="fieldcontain" class="departlongline">
				<label for="mmail" id="emailLable">邮&nbsp;&nbsp;箱&nbsp;&nbsp;号</label> 
				<div class="pencil-input">
				<input id="email"/>
				</div>
			</div>
			<div data-role="fieldcontain" class="departlongline ui-field-contain">
				<label for="passwdInput">密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码</label> 
				<div class="pencil-input">
				<div class="ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset"><input id="passwdInput" type="password" placeholder="请输入密码"></div>
				</div>
			</div>
			<div data-role="fieldcontain" class="departlongline">
				<div class="pencil-input-validationCode" id="validationCodeInputDiv">
					<input id="updateUserEmailValidationCode" type="tel" placeholder="输入获取的短信验证码" pattern="[0-9]*" maxlength="6">
				</div>
				<label id="updateUserEmailValidationCodeBtn" style="float: right;margin: 6px!important;">获取验证码</label> 
			</div>
		</fieldset>
		<div class="div_bigBtn">
			<a id="updateUserEmailEnterValidationCodeBtn" data-role="button" data-prefetch>提&nbsp;交</a>
		</div>
	</div>

	<div data-role="footer" class="footer_bar" data-position="fixed" data-tap-toggle="false" data-id="navBar">
	   	<div data-role="navbar" class="f_nav">
	      <ul>
	        <li><a id="bookTicketTab" data-iconshadow="false">车票预订</a></li>
	        <li><a id="queryOrderTab" data-iconshadow="false">订单查询</a></li>
	        <li><a id="moreOptionsTab" data-iconshadow="false" class="ui-btn-active ui-state-persist">我的12306</a><div class="circle" style="display:none;"></div></li>
	      </ul>
	    </div>
  	</div>
</div>

