<div id="userInfoView" data-role="page">
	<div data-role="header" data-position="fixed" data-tap-toggle="false">
		<a id="userInfoBackBtn" data-role="button" class="my12306Btn" data-shadow="false"></a>
		<h1>个人资料</h1>
		<a id="modifyUserInfoBtn" data-role="button">修改</a>
	</div>

	<div data-role="content" data-theme="c" data-iscroll>
		<div class="departlongline"><!-- Do not delete, To prevent margin collapse, make iscroll to work right --></div>
		<fieldset class="hasLegend">
		<legend>基本信息</legend>
		<div class="departlongline"></div>
			<div data-role="fieldcontain" class="departshortline">
				<label for="label_username">用&nbsp;&nbsp;户&nbsp;&nbsp;名</label>
				<div id="label_username" class="labelRightDiv"></div>
			</div>
		</fieldset>
		<div class="departlongline"></div>
		<fieldset class="hasLegend">
		  <legend>详细信息</legend>
		  <div class="departlongline"></div>
			<div data-role="fieldcontain" class="departshortline">
				<label>姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名</label>
				<div id="label_name" class="labelRightDiv"></div>
			</div>
			<div data-role="fieldcontain" class="departshortline">
				<label>性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别</label>
				<div id="label_sex" class="labelRightDiv"></div>
			</div>
			<div data-role="fieldcontain" class="departshortline">
				<label>出生日期</label>
				<div id="label_born_date" class="labelRightDiv"></div>
			</div>
			<div data-role="fieldcontain" class="departshortline">
				<label>国家地区</label>
				<div id="label_country" class="labelRightDiv"></div>
			</div>
			<div data-role="fieldcontain" class="departshortline">
				<label>证件类型</label>
				<div id="label_id_type" class="labelRightDiv"></div>
			</div>
			<div data-role="fieldcontain" class="departshortline">
				<label>证件号码</label>
				<div id="label_id_no" class="labelRightDiv"></div>
			</div>
			<div data-role="fieldcontain" class="departshortnoline">
				<label>审核状态</label>
				<div id="label_ExaminationState" class="labelRightDiv"></div>
			</div>
			<!--  div id="PhotoExaminationState" data-role="fieldcontain" class="departshortnoline ui-field-contain">
			</div>
			<div id="PhotoExaminationStateBtn" data-role="fieldcontain" class="departshortnoline ui-field-contain"></div -->
		</fieldset>
		<div class="departlongline"></div>
		<fieldset class="hasLegend">
		<legend>联系方式</legend>
		<div class="departlongline"></div>
			<div data-role="fieldcontain" class="departshortline">
				<label>手机号码</label>
				<div id="label_mobile_no" class="labelRightDiv"></div>
			</div>
			<div data-role="fieldcontain" class="departshortline">
				<label>固定电话</label>
				<div id="label_phone_no" class="labelRightDiv"></div>
			</div>
			<div data-role="fieldcontain" class="departshortline">
				<label>电子邮件</label>
				<div id="label_email" class="labelRightDiv"></div>
			</div>
			<div data-role="fieldcontain" class="departshortline">
				<label>地 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址</label>
				<div id="label_address" class="labelRightDiv"></div>
			</div>
			<div data-role="fieldcontain" class="departshortnoline">
				<label>邮 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;编</label>
				<div id="label_postalcode" class="labelRightDiv"></div>
			</div>
		</fieldset>
		<div class="departlongline"></div>
		<fieldset class="hasLegend">
		<legend>附加信息</legend>
		<div class="departlongline"></div>
			<div data-role="fieldcontain" class="departshortline">
				<label>旅客类型</label>
				<div id="label_user_type" class="labelRightDiv"></div>
			</div>
			<div id="studentOptions" style="display:none;">
				<div data-role="fieldcontain" class="departshortline">
					<label>学校省份</label>
					<div id="label_studentProvince" class="labelRightDiv"></div>
				</div>
				<div data-role="fieldcontain" class="departshortline">
					<label>学校名称</label>
					<div id="label_studentSchool" class="labelRightDiv"></div>
				</div>
				<div data-role="fieldcontain" class="departshortline">
					<label>院&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;系</label>
					<div id="label_studentDepartment" class="labelRightDiv"></div>
				</div>
				<div data-role="fieldcontain" class="departshortline">
					<label>班&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;级</label>
					<div id="label_studentClass" class="labelRightDiv"></div>
				</div>
				<div data-role="fieldcontain" class="departshortline">
					<label>学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号</label>
					<div id="label_studentNo" class="labelRightDiv"></div>
				</div>
				<div data-role="fieldcontain" class="departshortline">
					<label>学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;制</label>
					<div id="label_studentSystem" class="labelRightDiv"></div>
				</div>
				<div data-role="fieldcontain" class="departshortline">
					<label>入学年份</label>
					<div id="label_studentEnterYear" class="labelRightDiv"></div>
				</div>
				<div data-role="fieldcontain" class="departshortline">
					<label>优惠卡号</label>
					<div id="label_preferenceCardNo" class="labelRightDiv"></div>
				</div>
				<div data-role="fieldcontain" class="departshortline">
					<label>优惠区间</label>
					<div id="label_preferenceFromStation" class="labelRightDiv"></div>
				</div>
				<div  data-role="fieldcontain" class="departshortnoline">
					<label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;至</label>
					<div id="label_preferenceToStation" class="labelRightDiv"></div>
				</div>
			</div>
		<div class="departlongline"></div>
		</fieldset>
		<div style="height:10px;"><!-- Do not delete, To prevent margin collapse, make iscroll to work right --></div>
	</div>

	<div data-role="footer" class="footer_bar" data-position="fixed" data-tap-toggle="false" data-id="navBar">
	   	<div data-role="navbar" class="f_nav">
	      <ul>
	        <li><a id="bookTicketTab" data-iconshadow="false">车票预订</a></li>
	        <li><a id="queryOrderTab" data-iconshadow="false">订单查询</a></li>
	        <li><a id="moreOptionsTab" data-iconshadow="false" class="ui-btn-active ui-state-persist">我的12306</a><div class="circle" style="display:none;"></div></li>
	      </ul>
	    </div>
  	</div>
</div>

