<div style="width:300px;; background:#000; clear:left; position:static">
<div style="width:200px; background:#CCC">21</div>
<div style="width:20px; height:auto; background:#339; position:absolute;  "><br/></div>

<div  style="width:200px; background:#0F0">213</div>



</div>
